---
title: PDP - Apps
removeContainer: true
indexedPage: true
---

{{> universal-header-template category-physical-goods.universal-header }}

<div data-grid="container">
    {{> digital-goods-buy-box-module pdp-apps.product-hero-app }}

    {{> product-detail-overview-module pdp-apps.four-up-with-link }}

    {{> content-rich-block-module pdp-apps.two-column }}

    <div data-grid="col-12">
    {{> additional-information-module pdp-apps.additional-info }}
    </div>

    {{> product-placement-module pdp-apps.product-placement-medium }}

    {{> ratings-and-reviews-module pdp-apps.ratings-reviews }}
</div>

{{> universal-footer-template category-physical-goods.universal-footer }}