---
title: PDP - Xbox
removeContainer: true
indexedPage: true
---

{{> page-bar-module pdp-xbox.buy-box }}

{{> product-detail-hero-digital product-detail-hero-digital.Xbox }}

<section data-grid="container">

    {{> heading-module pdp-xbox.deatil-overview-heading }}

    {{> product-detail-overview-module pdp-xbox.deatil-overview }}

    {{> product-placement-module pdp-xbox.video}}

    {{> product-placement-module pdp-xbox.video}}

    {{> product-placement-module pdp-xbox.video}}

    <div data-grid="col-12 stack-2" class="m-channel">
        <div data-grid="col-6">
            <h2 class="c-heading-4">What's new in version 1.23</h2>
            {{> list-template pdp-xbox.list}}
        </div>

        <div data-grid="col-6">
            <h2 class="c-heading-4">Features</h2>
            {{> list-template pdp-xbox.list}}
        </div>
    </div>

    {{> system-requirements-module pdp-xbox.system-requirements }}

    {{> additional-information-module pdp-xbox.additional-information }}

    {{> product-placement-module pdp-xbox.product-placement}}

    {{> product-placement-module pdp-xbox.product-placement}}
    
    {{> ratings-and-reviews-module pdp-xbox.ratings-and-reviews}}

</section>