// ==========================================================================
// Module: Image
// ==========================================================================

.m-image {
    @include clearfix;
    padding: 48px 0 0;

    &.f-lean {
        padding: 0;
    }

    .c-video {
        display: block;
    }

    [class*="c-caption"] {
        color: $color-foreground-60;
    }
}