---
title: Internal example page
removeContainer: true
indexedPage: true
---
{{> universal-header-template example-partner-page.header }}

<main id="mainContent" data-grid="container">
    {{> hero-module example-partner-page.lead-hero }}
    {{> hyperlink-group-context-content-placement example-partner-page.hyperlink-content-placement }}
    {{> feature-module example-partner-page.bring-ideas }}
    {{> banner-module example-partner-page.heading-call-to-action }}
    {{> feature-module example-partner-page.advanced-tech }}
    {{> image-module example-partner-page.prod-shot }}
    {{> mosaic-module example-partner-page.pattern-two }}
    {{> content-placement-module example-partner-page.h-computing-three-up }}
    {{> product-placement-module example-partner-page.product-placement-large }}
    {{> heading-module example-partner-page.heading-4 }}
    {{> feature-module example-partner-page.r-feature }}
    {{> feature-module example-partner-page.l-feature }}
    {{> feature-module example-partner-page.r-feature }}
    {{> feature-module example-partner-page.l-feature }}
    {{> content-placement-module example-partner-page.win10-four }}
</main>

{{> universal-footer-template example-partner-page.footer }}