---
title: Category - Office model B
removeContainer: true
indexedPage: true
---

{{> universal-header-template category-office-b.universal-header }}

<div data-grid="container">
    {{> hero-module category-office-b.alignment-carousel }}

    {{> hyperlink-group-context-content-placement category-office-b.content-placement-hyperlink }}

    {{> feature-module category-office-b.surface-pro-four }}

    {{> feature-module category-office-b.surface-book }}

    {{> feature-module category-office-b.surface-pro-three }}

    {{> heading-module category-office-b.compare-chart-pivots }}
    
    {{> compare-chart-module category-office-b.compare-chart-four-up }}
</div>

{{> universal-footer-template category-office-b.universal-footer }}