<div data-grid="container" class="store-context-interstitial-checkout">
    <section data-grid="col-12 stack-2">
        <div data-grid="col-8" class="store-context-interstitial-checkout-purchase">
            <img class="c-image" src="http://placehold.it/136x76/2F2F2F/171717" alt="Placeholder with grey background and dimension watermark without any imagery">
            <div class="store-context-interstitial-checkout-details">
                <h2 class="c-heading">Microsoft Surface Pro-4 128GB / Intel Core m3</h2>
                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta content="USD">
                    <span>$</span>
                    <span itemprop="price">1399.00</span>
                    <link itemprop="availability" href="http://schema.org/InStock">
                </div>
                <p class="c-meta-text">Added to your cart.</p>
            </div>
        </div>
        <div data-grid="col-4" class="store-context-interstitial-checkout-cta">
            <a href="#" class="c-call-to-action c-glyph">
                <span>CONTINUE TO CHECKOUT</span>
            </a>
        </div>
    </section>
    <hr data-grid="col-12" class="c-divider">
    <section data-grid="col-12" class="store-context-interstitial-checkout-add">
        <div data-grid="col-12">
            <h2 class="c-heading">Frequently bought together</h2>
        </div>
        <ul data-grid="col-12 stack-3">
            <li data-grid="col-6">
                <div data-grid="col-6" class="store-m-interstitial-checkout-placements">
                    <section itemscope itemtype="http://schema.org/Product" class="c-product-placement f-size-medium context-accessory">
                        <a href="#">
                            <picture>
                                <source srcset="http://placehold.it/167x167" media="(min-width:0)">
                                <img srcset="http://placehold.it/167x167" src="http://placehold.it/167x167" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <span class="c-badge f-small f-highlight">NEW</span>
                                <h3 class="c-heading" itemprop="product name">Mini DisplayPort to HDMI Adapter</h3>
                                <div class="c-rating f-community-rated f-aggregate" itemscope itemtype="https://schema.org/Rating">
                                    <p class="x-screen-reader">Rating:
                                        <span itemprop="ratingValue">4</span>/
                                        <span itemprop="bestRating">5</span>
                                    </p>
                                    <div aria-hidden="true">
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-none"></span>
                                    </div>
                                </div>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta content="USD">
                                    <span>$</span>
                                    <span itemprop="price">39.99</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <p class="c-paragraph">Connects Surface to any HDMI-compatible display.</p>
                            </div>
                        </a>
                    </section>
                    {{!-- Using <a> below as we don't know the behavior of the page. If this adds to cart dynamically without page refresh, I would use button element here --}}
                    <a role="button" class="c-action-trigger c-glyph glyph-shopping-cart" href="#">Add to cart</a>
                </div>
                <div data-grid="col-6" class="store-m-interstitial-checkout-placements">
                    <section itemscope itemtype="http://schema.org/Product" class="c-product-placement f-size-medium context-accessory">
                        <a href="#">
                            <picture>
                                <source srcset="http://placehold.it/167x167" media="(min-width:0)">
                                <img srcset="http://placehold.it/167x167" src="http://placehold.it/167x167" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <span class="c-badge f-small f-highlight">NEW</span>
                                <h3 class="c-heading" itemprop="product name">Mini DisplayPort to VGA Adapter</h3>
                                <div class="c-rating f-community-rated f-aggregate" itemscope itemtype="https://schema.org/Rating">
                                    <p class="x-screen-reader">Rating:
                                        <span itemprop="ratingValue">4</span>/
                                        <span itemprop="bestRating">5</span>
                                    </p>
                                    <div aria-hidden="true">
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-none"></span>
                                    </div>
                                </div>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta content="USD">
                                    <span>$</span>
                                    <span itemprop="price">149.99</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <p class="c-paragraph">Designed for Surface, this proprietary VGA adapter lets you share photos, video, and presentations in a way that’s larger than life.</p>
                            </div>
                        </a>
                    </section>
                    {{!-- Using <a> below as we don't know the behavior of the page. If this adds to cart dynamically without page refresh, I would use button element here --}}
                    <a role="button" class="c-action-trigger c-glyph glyph-shopping-cart" href="#">Add to cart</a>
                </div>
            </li>
            <li data-grid="col-6">
                <div data-grid="col-6" class="store-m-interstitial-checkout-placements">
                    <section itemscope itemtype="http://schema.org/Product" class="c-product-placement f-size-medium context-accessory">
                        <a href="#">
                            <picture>
                                <source srcset="http://placehold.it/167x167" media="(min-width:0)">
                                <img srcset="http://placehold.it/167x167" src="http://placehold.it/167x167" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <h3 class="c-heading" itemprop="product name">Microsoft Complete Accident Protection for Surface Pro</h3>
                                <div class="c-rating f-community-rated f-aggregate" itemscope itemtype="https://schema.org/Rating">
                                    <p class="x-screen-reader">Rating:
                                        <span itemprop="ratingValue">4</span>/
                                        <span itemprop="bestRating">5</span>
                                    </p>
                                    <div aria-hidden="true">
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-none"></span>
                                    </div>
                                </div>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta content="USD">
                                    <span>$</span>
                                    <span itemprop="price">199.00</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <p class="c-paragraph">Stay productive with extended protection and accidental coverage for your Surface, plus unlimited software support—all in one.</p>
                            </div>
                        </a>
                    </section>
                    {{!-- Using <a> below as we don't know the behavior of the page. If this adds to cart dynamically without page refresh, I would use button element here  --}}
                    <a role="button" class="c-action-trigger c-glyph glyph-shopping-cart" href="#">Add to cart</a>
                </div>
                <div data-grid="col-6" class="store-m-interstitial-checkout-placements">
                    <section itemscope itemtype="http://schema.org/Product" class="c-product-placement f-size-medium context-accessory">
                        <a href="#">
                            <picture>
                                <source srcset="http://placehold.it/167x167" media="(min-width:0)">
                                <img srcset="http://placehold.it/167x167" src="http://placehold.it/167x167" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <span class="c-badge f-small f-highlight">NEW</span>
                                <h3 class="c-heading" itemprop="product name">Surface Pen</h3>
                                <div class="c-rating f-community-rated f-aggregate" itemscope itemtype="https://schema.org/Rating">
                                    <p class="x-screen-reader">Rating:
                                        <span itemprop="ratingValue">4</span>/
                                        <span itemprop="bestRating">5</span>
                                    </p>
                                    <div aria-hidden="true">
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-none"></span>
                                    </div>
                                </div>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta content="USD">
                                    <span>$</span>
                                    <span itemprop="price">59.99</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <p class="c-paragraph">Includes Pen Tip Kit ($10 value).</p>
                            </div>
                        </a>
                    </section>
                    {{!-- Using <a> below as we don't know the behavior of the page. If this adds to cart dynamically without page refresh, I would use button element here --}}
                    <a role="button" class="c-action-trigger c-glyph glyph-shopping-cart" href="#">Add to cart</a>
                </div>
            </li>
            <li data-grid="col-6">
                <div data-grid="col-6" class="store-m-interstitial-checkout-placements">
                    <section itemscope itemtype="http://schema.org/Product" class="c-product-placement f-size-medium context-accessory">
                        <a href="#">
                            <picture>
                                <source srcset="http://placehold.it/167x167" media="(min-width:0)">
                                <img srcset="http://placehold.it/167x167" src="http://placehold.it/167x167" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <h3 class="c-heading" itemprop="product name">Surface Pen Tip Kit</h3>
                                <div class="c-rating f-community-rated f-aggregate" itemscope itemtype="https://schema.org/Rating">
                                    <p class="x-screen-reader">Rating:
                                        <span itemprop="ratingValue">4</span>/
                                        <span itemprop="bestRating">5</span>
                                    </p>
                                    <div aria-hidden="true">
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-none"></span>
                                    </div>
                                </div>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta content="USD">
                                    <span>$</span>
                                    <span itemprop="price">10.00</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <p class="c-paragraph">Compatible with Surface Book, Surface Pro 4, Surface Pro 3, and Surface 3.</p>
                            </div>
                        </a>
                    </section>
                    {{!-- Using <a> below as we don't know the behavior of the page. If this adds to cart dynamically without page refresh, I would use button element here --}}
                    <a role="button" class="c-action-trigger c-glyph glyph-shopping-cart" href="#">Add to cart</a>
                </div>
                <div data-grid="col-6" class="store-m-interstitial-checkout-placements">
                    <section itemscope itemtype="http://schema.org/Product" class="c-product-placement f-size-medium context-accessory">
                        <a href="#">
                            <picture>
                                <source srcset="http://placehold.it/167x167" media="(min-width:0)">
                                <img srcset="http://placehold.it/167x167" src="http://placehold.it/167x167" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <h3 class="c-heading" itemprop="product name">PerfectFit Surface Pro 4 Antimicrobial CleanShield Premium Film Screen Protection</h3>
                                <div class="c-rating f-community-rated f-aggregate" itemscope itemtype="https://schema.org/Rating">
                                    <p class="x-screen-reader">Rating:
                                        <span itemprop="ratingValue">4</span>/
                                        <span itemprop="bestRating">5</span>
                                    </p>
                                    <div aria-hidden="true">
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-none"></span>
                                    </div>
                                </div>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta content="USD">
                                    <span>$</span>
                                    <span itemprop="price">39.99</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <p class="c-paragraph">Give your Surface Pro 4 the royal treatment with this high optical clarity screen protector infused with ionic-silver antimicrobial technology.</p>
                            </div>
                        </a>
                    </section>
                    {{!-- Using <a> below as we don't know the behavior of the page. If this adds to cart dynamically without page refresh, I would use button element here --}}
                    <a role="button" class="c-action-trigger c-glyph glyph-shopping-cart" href="#">Add to cart</a>
                </div>
            </li>
            <li data-grid="col-6">
                <div data-grid="col-6" class="store-m-interstitial-checkout-placements">
                    <section itemscope itemtype="http://schema.org/Product" class="c-product-placement f-size-medium context-accessory">
                        <a href="#">
                            <picture>
                                <source srcset="http://placehold.it/167x167" media="(min-width:0)">
                                <img srcset="http://placehold.it/167x167" src="http://placehold.it/167x167" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <h3 class="c-heading" itemprop="product name">HEX Surface Pro 4 Sleeve with Rear Pocket</h3>
                                <div class="c-rating f-community-rated f-aggregate" itemscope itemtype="https://schema.org/Rating">
                                    <p class="x-screen-reader">Rating:
                                        <span itemprop="ratingValue">4</span>/
                                        <span itemprop="bestRating">5</span>
                                    </p>
                                    <div aria-hidden="true">
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-none"></span>
                                    </div>
                                </div>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta content="USD">
                                    <span>$</span>
                                    <span itemprop="price">49.99</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <p class="c-paragraph">With its durable, water resistant nylon outer shell, this HEX case will help protect your Surface Pro 4.</p>
                            </div>
                        </a>
                    </section>
                    {{!-- Using <a> below as we don't know the behavior of the page. If this adds to cart dynamically without page refresh, I would use button element here --}}
                    <a role="button" class="c-action-trigger c-glyph glyph-shopping-cart" href="#">Add to cart</a>
                </div>
                <div data-grid="col-6" class="store-m-interstitial-checkout-placements">
                    <section itemscope itemtype="http://schema.org/Product" class="c-product-placement f-size-medium context-accessory">
                        <a href="#">
                            <picture>
                                <source srcset="http://placehold.it/167x167" media="(min-width:0)">
                                <img srcset="http://placehold.it/167x167" src="http://placehold.it/167x167" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <span class="c-badge f-small f-highlight">NEW</span>
                                <h3 class="c-heading" itemprop="product name">Surface Pro 4 Type Cover with Fingerprint ID (Onyx)</h3>
                                <div class="c-rating f-community-rated f-aggregate" itemscope itemtype="https://schema.org/Rating">
                                    <p class="x-screen-reader">Rating:
                                        <span itemprop="ratingValue">4</span>/
                                        <span itemprop="bestRating">5</span>
                                    </p>
                                    <div aria-hidden="true">
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-full"></span>
                                        <span class="c-glyph f-none"></span>
                                    </div>
                                </div>
                                <div class="c-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta content="USD">
                                    <span>$</span>
                                    <span itemprop="price">159.99</span>
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <p class="c-paragraph">The next generation of Type Cover, made for Surface Pro 4, offers the most advanced Surface typing experience yet. Compatible with Surface Pro 3 and Surface Pro 4.</p>
                            </div>
                        </a>
                    </section>
                    {{!-- Using <a> below as we don't know the behavior of the page. If this adds to cart dynamically without page refresh, I would use button element here --}}
                    <a role="button" class="c-action-trigger c-glyph glyph-shopping-cart" href="#">Add to cart</a>
                </div>
            </li>
        </ul>
    </section>
</div>
