---
title: PDP - Office
removeContainer: true
indexedPage: true
---

{{> page-bar-module pdp-office.buy-box }}

{{> product-detail-hero-digital pdp-office.office-365 }}

<section data-grid="container">
    {{> product-detail-overview-module product-detail-overview-module.four-up-with-link }}
​
    {{> feature-module pdp-office.left-feature }}
​
    {{> feature-module pdp-office.right-feature }}
​
    {{> feature-module pdp-office.left-feature }}
​
    {{> feature-module pdp-office.right-feature }}
​
    {{> feature-module pdp-office.left-feature }}

    <div class="m-wrapper" data-grid="col-12">
        <h3 class="c-heading-4">Office 365 Home includes</h3>
        {{> structured-list-template pdp-office.structured-list }}
        <p class="c-caption-2">Current versions are Office 2016 for PC and Office 2016 for Mac</p>
    </div>

    {{> system-requirements-module pdp-office.system-requirements }}
​
    {{> compare-chart-module pdp-office.compare-chart}}
​
    {{> ratings-and-reviews-module pdp-office.ratings-and-reviews}}
</section>