---
title: Store - Homepage
removeContainer: true
indexedPage: true
---

{{> universal-header-template store-homepage-singapore.universal-header }}

<div data-grid="container">
    {{> hero-module store-homepage-singapore.primary-hero }}

    {{> hyperlink-group-context-content-placement store-homepage-singapore.content-placement-hyperlink }}

    {{> product-placement-module store-homepage-singapore.product-placement-large }}

    {{> product-placement-module store-homepage-singapore.product-placement-medium }}

    {{> product-placement-module store-homepage-singapore.product-placement-medium-top-games }}

    <div data-grid="col-12">
        {{> heading-module store-homepage-singapore.heading-4 }}

        {{> content-placement-module store-homepage-singapore.four-up}}
    </div>
</div>

{{> universal-footer-template store-homepage-singapore.universal-footer }}