---
indexedPage: true
---
<button class="c-button" type="button" data-js-dialog-show="flow-dialog-single-1">Using grid only</button>
<div class="c-dialog f-flow" id="flow-dialog-single-1" aria-hidden="true">
    <div role="presentation" tabindex="-1"></div>
    <div role="dialog" aria-label="Flow single" tabindex="-1">
        <div class="c-glyph glyph-cancel" data-js-dialog-hide="" aria-label="Close dialog" tabindex="0"></div>
        <div role="document">
            <div data-grid="col-12 stack-2 pad-6x">
                <div data-grid="col-3">
                    <img class="c-image f-pad-vertical-3x" src="images/store-shopping-cart.png"/>
                </div>
                <div data-grid="col-9">
                    <h2 class="c-heading-3 f-lean">Welcome back</h2>
                    <div>
                        <p class="c-paragraph">Did you know you left some things in your cart? No problem, we saved them for you.</p>
                    </div>
                </div>
            </div>
            <div class="c-group">
                <button class="c-button" type="submit" data-js-dialog-hide="" aria-label="Close dialog">Return to cart</button>
            </div>
        </div>
    </div>
</div>