---
indexedPage: true
---
<button class="c-button" type="button" data-js-dialog-show="create-review">Create Review</button>
<div class="c-dialog f-flow" id="create-review" aria-hidden="true">
    <div role="presentation" tabindex="-1" data-js-dialog-hide></div>
    <div role="dialog" aria-labelledby="Dialog title" aria-describedby="Paragraph lorem ipsum sit amet, consectetur adipiscing elit. Duis ut commodo ante." tabindex="-1">
        <div role="document">
            <form id="create-review-form" class="f-dialog-scroll">
                <div class="m-media">
                    <picture class="c-image">
                        <source srcset="http://placehold.it/72x103" media="(min-width: 1779px)">
                        <source srcset="http://placehold.it/72x103" media="(min-width:1400px)">
                        <source srcset="http://placehold.it/72x103" media="(min-width:1084px)">
                        <source srcset="http://placehold.it/72x103" media="(min-width:768px)">
                        <source srcset="http://placehold.it/72x103" media="(min-width:540px)">
                        <source srcset="http://placehold.it/72x103" media="(min-width:0)">
                        <img srcset="http://placehold.it/72x103" src="http://placehold.it/72x103" alt="Placeholder with grey background and dimension watermark without any imagery">
                    </picture>
                    <h2 class="c-heading-5">STAR WARS<sup>&#0153;</sup> Battlefront<sup>&#0153;</sup></h2>
                    <p class="c-paragraph-3">[Description]</p>
                </div>
                <div data-grid="col-12">
                    <h3 class="c-heading-5">Rate this product</h3>
                    <div class="c-select-menu f-border">
                        <a id="unique-id-for-list" href="#" role="button" aria-haspopup="true" aria-expanded="false">Choose a star rating</a>
                        <ul class="c-menu" aria-labelledby="unique-id-for-list" aria-hidden="true">
                            <li class="c-menu-item">
                                <a href="#">1 star</a>
                            </li>
                            <li class="c-menu-item">
                                <a href="#">2 stars</a>
                            </li>
                            <li class="c-menu-item">
                                <a href="#">3 stars</a>
                            </li>
                            <li class="c-menu-item">
                                <a href="#" aria-checked="true">4 stars</a>
                            </li>
                            <li class="c-menu-item">
                                <a href="#">5 stars</a>
                            </li>
                        </ul>
                    </div>
                    <div class="c-select-menu f-border">
                        <a id="unique-id-for-list" href="#" role="button" aria-haspopup="true" aria-expanded="false">For which platform</a>
                        <ul class="c-menu" aria-labelledby="unique-id-for-list" aria-hidden="true">
                            <li class="c-menu-item">
                                <a href="#">Xbox</a>
                            </li>
                            <li class="c-menu-item">
                                <a href="#">Mobile</a>
                            </li>
                            <li class="c-menu-item">
                                <a href="#">PC</a>
                            </li>
                            <li class="c-menu-item">
                                <a href="#" aria-checked="true">Hololens</a>
                            </li>
                            <li class="c-menu-item">
                                <a href="#">Surface Hub</a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="c-heading-5">Write a review</h3>
                    <label class="c-label" for="headline">Give it a headline</label>
                    <input class="c-text-field f-flex" type="text" id="headline" name="headline" required>
                    <div class="c-textarea">
                        <label class="c-label" for="review">Tell us what you think</label>
                        <textarea class="f-no-resize f-flex" id="review" name="review" rows="6" required></textarea>
                    </div>
                    <p class="c-caption-1">Will post publicly as Jonathan.</p>
                    <p class="c-caption-1">Microsoft may email you a response from the game developer, but won't share your email address. You can use the link in the email to opt out of future communications.</p>
                </div>
            </form>
            <div class="c-group">
                <button class="c-button" type="submit" value="submit" form="create-review-form" data-js-dialog-hide aria-label="Close dialog">Submit</button>
                <button class="c-button" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>