.c-explicit {
    @include apply-type(t9);
    line-height: 1;
    margin: 0 5px;
    padding: 0 3px;
    border: 1px solid $color-brand-neutral-100;

    > span {
        display: none;

        + span {
            display: inline;
        }
    }

    @media only screen and (max-width: $vp1-max) {
        > span {
            display: inline;

            + span {
                display: none;
            }
        }
    }
}