@font-face {
  font-family: MWF-MDL2;
  src: url(fonts/MWFMDL2.woff) format("woff")
}

@font-face {
  font-family: 'RDXMDL2Assets';
  src: url(fonts/RDXMDL2.1.78.woff) format("woff");
}

.mdl-glyph {
  &:before {
    font-family: 'RDXMDL2Assets';
  }

  &.glyph-screen {
    &:before {
      content: '\EF39';
    }
  }

  &.glyph-keyboard {
    &:before {
      content: '\E765';
    }
  }

  &.glyph-draw {
    &:before {
      content: '\EC87';
    }
  }

  &.glyph-apps {
    &:before {
      content: '\ECAA';
    }
  }

  &.glyph-headphones {
    &:before {
      content: '\E7F6';
    }
  }

  &.glyph-drive {
    &:before {
      content: '\EDA2';
    }
  }

  &.glyph-ram {
    &:before {
      content: '\EEA0';
    }
  }

  &.glyph-cpu {
    &:before {
      content: '\EEA1';
    }
  }

  &.glyph-system {
    &:before {
      content: '\E770';
    }
  }
}