@font-face {
  font-family: MWF-MDL2;
  src: url(../fonts/MWFMDL2.woff) format("woff"),
  url(../fonts/MWFMDL2.ttf) format("truetype"),
  url(../fonts/MWFMDL2.svg) format("svg")
}

@font-face {
  font-family: 'RDXMDL2Assets';
  src: url(../fonts/RDXMDL2.1.78.ttf) format("woff"),
  url(../fonts/RDXMDL2.1.78.ttf) format("truetype");
}
