.legacyFeature-video {
  position: absolute;
  top: 59px;
  left: 120px;
  width: 677px;
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  .c-feature.f-align-left > div.c-video, .c-feature.f-align-right > div.c-video {
    transform: translateY(-50%);
    top: 50%;
    width: 60%;
    max-width: 60%;
  }

  .c-feature.f-align-right > div {
    left: 60%;
    a.c-call-to-action {
      padding: 10px 24px 7px 44px;

      &:after {
        content: '\e76b' !important;
        margin-right: 4px;
        margin-left: 0;
      }
    }
  }

  .c-feature.f-align-left > div, .c-feature.f-align-right > div {
    width: 40%;
  }

  .c-feature.f-align-left picture, .c-feature.f-align-right picture {
    width: 60%;
    max-width: 60%;
  }
}

.m-feature {
  background: #fff;
  background-size: cover;

  &.legacy-feature {
    padding-left: 0;
    padding-right: 0;
  }

  .logo {
    max-width: 200px;
    max-height: 120px;
  }

  @media only screen and (min-width: 768px) {
    .c-feature.f-align-left picture {
      position: absolute;
      right: 0;
    }

    .c-feature.f-align-right picture {
      position: absolute;
      left: 0;
    }

    .feature-image {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media only screen and (min-width: 1400px) {
    .c-structured-list .f-column .f-row [data-grid=col-10] {
      padding-left: 0;
    }
  }
}


.c-hero.theme-dark {
  background: #000;
}

.c-hero.f-fullscreen {
  height: calc(100vh - 64px);


  img {
    height: calc(100vh - 64px);
    min-width: auto;
  }

  .f-y-center {
    .context-game {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.sub-route + .main-container .c-hero.f-fullscreen {
  height: calc(100vh - 100px);

  img {
    height: calc(100vh - 100px);
    min-width: auto;
  }

  .f-y-center {
    .context-game {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}