//-----------------------------------------------------------------------------//
// LAYOUT                                                                      //
//-----------------------------------------------------------------------------//

// Spacing Reset
* {
 vertical-align: baseline;
 font-weight: inherit;
 font-family: inherit;
 font-style: inherit;
 font-size: 100%;
 border: 0 none;
 outline: 0;
 padding: 0;
 margin: 0;
 -ms-user-select: none;
 }

body {
    height: 100%;
    touch-action: none;
}

.control-app {
    height: 100%;
    width: 100%;
    min-width: @app-min-width;
    max-width: @app-max-width;
    margin: 0 auto;
}

//-----------------------------------------------------------------------------//
// Facts Pane structure                                                      //
//-----------------------------------------------------------------------------//
.factsGrid {
  display: -ms-grid;
  -ms-grid-columns: 1fr auto;
  height: 100vh;
}

.factsGrid .sidebar {
  -ms-grid-column: 2;
  width: @sidebar-width;
  height: 100vh;
  background: #e8e8e8;
}

.factsGrid .partnerSections {
  -ms-grid-column: 1;
  height: 100vh;

  .page-body .control-carousel .carousel-controls .rightNav {
    right: @sidebar-width;
  }
}

//-----------------------------------------------------------------------------//
// Page Layout and hubStrip orientation                                        //
//-----------------------------------------------------------------------------//

// Full page containing page content and template-hubStrip
.page-body {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    height: 100vh;
    min-height: @app-min-height;
    overflow-x: hidden;

    // Setting [page-body] - Content top / template-hubStrip bottom
    &.content-top {
        -ms-grid-rows: 1fr auto;

        .control-carousel { -ms-grid-row: 1; }
        .template-hubStrip { -ms-grid-row: 2; }

        .template-pageIndicator {
            bottom: (@brandBar-height / 1.5) + (@design-unit * 3);

            @media screen and @mediaQueryBreakpointMd {
                bottom: @brandBar-height + (@design-unit * 3);
            }
        }
    }

    &.content-bottom {
        -ms-grid-rows: auto 1fr 44px;

        .control-carousel { -ms-grid-row: 2; }
        .template-hubStrip { -ms-grid-row: 1; }
        .template-pageIndicator { -ms-grid-row: 3; }
    }

//-----------------------------------------------------------------------------//
// Content card structure                                                      //
//-----------------------------------------------------------------------------//

    // Page content containing card containers and indicators
    .control-carousel {

        -ms-grid-column: 1;
        overflow: hidden;
        position: relative;
        width: 100%;

        .carousel-slideContainer {
            display: flex;
            height: 100%;

            &#slider {
              width: 100%;
              margin-left: 0%;
              -webkit-transition: 1.3s;
              -moz-transition: 1.3s;
              transition: 1.3s;
            }

        .template-contentCard {
            display: none;
            flex-shrink: 0;
            height: 100%;
            width: 100%;
            overflow-x: hidden;
            transition: 1s linear;
            margin: auto;

                .hero-img {
                  -ms-grid-column-align: end;
                  -ms-grid-row-align: center;
                  max-width: 100%;

                  @media screen and (min-width: 750px) and (max-width: 1200px) {
                    &.full-width-video {
                      display: -ms-grid;
                      -ms-grid-column-align: center;
                      -ms-grid-row-align: center;
                      -ms-grid-columns: 40vw 48px;
                    }
                  }

                  img {
                    width: auto;
                    height: 80vh;
                  }

                }

                .main-content {
                    -ms-grid-row-align: center;
                    width: 100%;

                    //@media screen and @mediaQueryBreakpointMd {
                    //    min-width: 400px;
                    //}

                    .text-header {
                        display: block;
                        padding: 0;
                    }
                }

    //-----------------------------------------------------------------------------//
    // Content card page layouts                                                   //
    //-----------------------------------------------------------------------------//


                // Required Setting [template-contentCard] - Content center / no hero
                &.content-center {
                    -ms-grid-columns: 1fr auto 1fr;
                    -ms-grid-rows: 1fr auto 1fr;

                    .main-content {
                        -ms-grid-column: 2;
                        -ms-grid-row: 2;
                        position: relative;
                        width: auto;
                    }
                }

                // Required Setting [template-contentCard] - Content left / hero-img right
                &.content-left {
                    -ms-grid-columns: @page-margin auto 50% @page-margin;
                    -ms-grid-rows: 1fr auto auto 1fr;

                    .main-content {
                        -ms-grid-column: 2;
                        -ms-grid-row: 3;
                        -ms-grid-column-span: 2;
                    }

                    .hero-img {
                        -ms-grid-column: 1;
                        -ms-grid-column-span: 4;
                        -ms-grid-row: 2;
                    }

                    @media screen and @mediaQueryVerticalBreakpointXSm {
                        -ms-grid-columns: @page-margin auto 40% @page-margin;
                    }

                    @media @mediaQueryBreakpointMd {
                        -ms-grid-columns: @page-margin 0 auto 1fr @padding-unit auto;
                        -ms-grid-rows: 1fr auto 1fr;

                        .main-content {
                            -ms-grid-column: 3;
                            -ms-grid-column-span: 1;
                            -ms-grid-row: 2;
                        }

                        .hero-img {
                            -ms-grid-column: 6;
                            -ms-grid-column-span: 1;
                            -ms-grid-row: 2;

                            img {
                              max-width: 500px;
                              height: auto;
                            }
                        }

                        @media screen and @mediaQueryVerticalBreakpointSm {
                            -ms-grid-columns: @page-margin 1fr auto 1fr @padding-unit auto;
                        }
                    }

                    @media screen and @mediaQueryBreakpointXXl {
                      .hero-img {
                        img {
                          max-width: 800px;
                        }
                      }
                    }
                }

                // Required Setting [template-contentCard] - Content right / hero-img left
                &.content-right {
                    -ms-grid-columns: @page-margin 50% auto @page-margin;;
                    -ms-grid-rows: 1fr auto auto 1fr;

                   .main-content {
                        -ms-grid-column: 2;
                        -ms-grid-row: 3;
                        -ms-grid-column-span: 2;
                    }

                    .hero-img {
                        -ms-grid-column: 1;
                        -ms-grid-column-span: 4;
                        -ms-grid-row: 2;
                    }

                    @media screen and @mediaQueryVerticalBreakpointXSm {
                        -ms-grid-columns: 40% @padding-unit auto @page-margin;
                    }

                    @media @mediaQueryBreakpointMd {
                        -ms-grid-columns: auto @padding-unit 1fr auto 1fr @page-margin;
                        -ms-grid-rows: 1fr auto 1fr;

                       .main-content {
                            -ms-grid-column: 4;
                            -ms-grid-row: 2;
                            -ms-grid-column-span: 1;
                        }

                        .hero-img {
                            -ms-grid-column: 1;
                            -ms-grid-row: 2;
                            -ms-grid-column-span: 1;

                            img {
                              max-width: 500px;
                              height: auto;
                            }
                        }

                        @media screen and @mediaQueryVerticalBreakpointSm {
                            -ms-grid-columns: 40% @padding-unit 1fr auto 1fr @page-margin;
                        }

                    }

                }

                // Required Setting [template-contentCard] - 3 col layout with header for title/logo and sub-content boxes

                &.page-content-fourColumn {
                    -ms-grid-rows: @padding-unit 1fr;
                    -ms-grid-columns: @padding-unit 1fr 1fr 1fr 1fr @padding-unit;

                    .column {
                        display: -ms-grid;
                        -ms-grid-columns: 1fr auto 1fr;

                        &.col1 { -ms-grid-column: 2; -ms-grid-row: 2; }
                        &.col2 { -ms-grid-column: 3; -ms-grid-row: 2; }
                        &.col3 { -ms-grid-column: 4; -ms-grid-row: 2; }
                        &.col4 { -ms-grid-column: 5; -ms-grid-row: 2; }

                        .title-box { -ms-grid-column: 2; -ms-grid-row: 1; }

                        // Required Sub-setting [Fourcol > Column] - Logo and 2 Containers of content centered
                        &.fourColumn-LogoList {
                            -ms-grid-rows: 1fr auto 96px auto 48px auto 1fr;

                            .graphicContainer-graphic,
                            .headingBox {
                                -ms-grid-column: 2;
                                -ms-grid-row: 2;
                            }

                            .subcontent-box1 {
                                -ms-grid-column: 2;
                                -ms-grid-row: 4;
                            }

                            .subcontent-box2 {
                                -ms-grid-column: 2;
                                -ms-grid-row: 6;
                            }
                        }
                    }
                }

                // Required Sub-setting [Threecol > Column] - Logo and 2 Containers of content centered
                &.page-content-threeColumn {
                    -ms-grid-rows: @padding-unit 1fr;
                    -ms-grid-columns: 1fr 1fr 1fr;

                    @media all and (min-width: 640px) and (max-width: 1100px) {
                        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
                        -ms-grid-columns: @padding-unit 1fr @padding-unit;
                        max-height: 650px;
                    }

                    @media all and (max-width: 640px) {
                        -ms-grid-columns: @padding-unit 1fr @padding-unit;
                        -ms-grid-rows: 1fr auto 14px auto 14px auto 1fr;
                    }

                    // Optional Sub-setting [template-contentCard] - Extra wide center column instead of default equal columns - only works with three-col
                    &.wide-center {
                        -ms-grid-columns: @padding-unit 1fr auto 1fr @padding-unit;
                    }

                    .column {
                        display: -ms-grid;
                        max-width: 100%;

                        &.col1 { -ms-grid-column: 1;
                                 -ms-grid-row: 2;
                                 -ms-grid-columns: 100px auto;
                        }

                        &.col2 { -ms-grid-column: 2;
                                 -ms-grid-row: 2;
                                 -ms-grid-columns: (@padding-unit*2) auto (@padding-unit*2);

                        }

                        &.col3 { -ms-grid-column: 3;
                                 -ms-grid-row: 2;
                                 -ms-grid-columns: auto 100px;

                        }

                        // Required Sub-setting [Threecol > Column] - Logo and 2 Containers of content centered
                        &.threeColumn-logoList { 
                            -ms-grid-rows: 1fr auto 40px 40px auto minmax(0px, 1fr) 40px auto 1fr auto; 
                            @media all and (min-width: 640px) and (max-width: 1100px) {
                             -ms-grid-rows: 1fr 90px 40px 1fr 1fr 100px 1fr 1fr 1fr;
                            }

                            .graphicContainer-graphic,
                            .headingBox {
                                -ms-grid-row: 2;
                            }

                            @media all and (max-width: 1100px) {
                                .graphicContainer-graphic,
                                .headingBox {
                                    -ms-grid-column: 2;
                                }
                            }

                            .label1 {
                                -ms-grid-row: 4;
                                -ms-grid-column: 1;
                                display: block;
                            }

                            .spec1 {
                                -ms-grid-row: 5;
                                -ms-grid-column: 1;
                            }

                             .label2 {
                                -ms-grid-row: 7;
                                -ms-grid-column: 1;
                                display: block;
                            }

                            .spec2 {
                                -ms-grid-row: 8;
                                -ms-grid-column: 1;
                            }

                            // Col 1 grid exception to allow for desktop padding //
                            @media all and (min-width: 1100px) {
                                &.col1, &.col2 {
                                     .graphicContainer-graphic,
                                    .headingBox {
                                        -ms-grid-column: 2;
                                    }

                                    .label1 {
                                        -ms-grid-column: 2;
                                    }

                                    .spec1 {
                                        -ms-grid-column: 2;
                                    }

                                     .label2 {
                                        -ms-grid-column: 2;
                                    }

                                    .spec2 {
                                        -ms-grid-column: 2;
                                    }
                                }
                            }

                            @media all and (min-width: 640px) and (max-width: 1100px) {
                                -ms-grid-rows: 1fr 70px 20px auto auto 36px auto auto 36px auto 1fr;
                                -ms-grid-columns: @padding-unit 1fr 36px 1fr @padding-unit;

                                &.col1 { -ms-grid-column: 2; -ms-grid-row: 2; }
                                &.col2 { -ms-grid-column: 2; -ms-grid-row: 4; }
                                &.col3 { -ms-grid-column: 2; -ms-grid-row: 6; }

                                .graphicContainer-graphic,
                                .headingBox {
                                    -ms-grid-row: 2 !important;
                                }

                                .label1 {
                                    -ms-grid-row: 4 !important;
                                    -ms-grid-column: 2;
                                    margin-bottom: 0;
                                }

                                .spec1 {
                                    -ms-grid-row: 5 !important;
                                    -ms-grid-column: 2;
                                }

                                .label2 {
                                    -ms-grid-row: 4 !important;
                                    -ms-grid-column: 4;
                                    margin-bottom: 0;
                                }

                                .spec2 {
                                    -ms-grid-row: 5 !important;
                                    -ms-grid-column: 4;
                                }
                            }

                           @media all and (max-width: 640px) {
                                -ms-grid-rows: auto auto auto 48px auto auto;
                                -ms-grid-columns: @padding-unit 1fr @padding-unit;

                                &.col1 { -ms-grid-column: 2; -ms-grid-row: 2; }
                                &.col2 { -ms-grid-column: 2; -ms-grid-row: 4; }
                                &.col3 { -ms-grid-column: 2; -ms-grid-row: 6; }

                                 .graphicContainer-graphic,
                                 .headingBox {
                                    -ms-grid-row: 1 !important;

                                     .text-header {
                                        margin-top: 28px;
                                        margin-bottom: 0;
                                        display: block;
                                     }
                                 }

                                .label1 {
                                    -ms-grid-row: 3 !important;
                                    -ms-grid-column: 2;
                                    margin-bottom: 0;
                                }

                                .spec1 {
                                    -ms-grid-row: 4 !important;
                                    -ms-grid-column: 2;
                                }

                                .label2 {
                                    -ms-grid-row: 6 !important;
                                    -ms-grid-column: 2;
                                    margin-bottom: 0;
                                }

                                .spec2 {
                                    -ms-grid-row: 7 !important;
                                    -ms-grid-column: 2;
                                }
                            }
                        }
                    }
                }

                button {
                    height: (@design-unit * 11);
                    padding: 0 (@design-unit * 4);
                    margin-top: (@design-unit * 9.5);
                    min-width: 140px;
                }
            }
        }

//-----------------------------------------------------------------------------//
//   sideNav Prev and Next Arrows                                              //
//-----------------------------------------------------------------------------//

        .carousel-controls {
            width: 100%;
            position: fixed;
            top: 50%;
            -ms-grid-rows: 1fr 36px 1fr;

            .sideNav {
                display: -ms-grid !important;
                -ms-grid-rows: 1fr auto @brandBar-height 1fr;
                -ms-grid-columns: 1fr auto 1fr;

                -ms-grid-row: 2;
                height: @flipview-height;
                width: @flipview-width;
                background: fade(@black, 20%);
                color: fade(@white, 90%);
                font-weight: bold;
                margin-bottom: @brandBar-height;
                font-family: 'Segoe MDL2 Assets';

                &:hover {
                    background: fade(@black, 40%);
                    display: -ms-grid !important;
                }

                .slideNav-directionIndicator {
                    -ms-grid-row: 2;
                    -ms-grid-column: 2;
                }
            }

            .leftNav {
                position: absolute;
                left: 0;
                top: 50%;

                .directionIndicator-prev {
                    &:after { content: '\E76B'; }
                    font-size: 11pt;
                    position: absolute;
                    top: 8px;
                    right: 3px;
                }
            }

            .rightNav {
                position: absolute;
                right: 0;
                top: 50%;

                .directionIndicator-next {
                    &:after { content: '\E76C'; }
                    font-size: 11pt;
                    position: absolute;
                    top: 8px;
                    left: 3px;
                }
            }
        }
    }
}

//-----------------------------------------------------------------------------//
//   Indicators                                                                //
//-----------------------------------------------------------------------------//

// Centered circle page indicators
.template-pageIndicator {
    width: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr (@indicator-size * 2) auto @indicator-size 1fr;
    z-index: 2000;

    @media screen and (max-height: (@app-min-height - 100)) {
        bottom: 20px !important;
    }

     // Round Page indicator/nav bar
    .pageIndicator-layoutRoot {
        -ms-grid-column: 3;
        display: inline-flex;

        a {
            margin: 0;
        }
    }

    // Individual indicator circle link
    .indicatorContainer-indicator {
        width: @indicator-size * 6.5;
        height: @indicator-size * 2;
        text-align: center;
        padding-top: 10px;
        -ms-grid-row-align: end;

        &:before {
            content:' ';
            width: @indicator-size;
            height: @indicator-size;
            border-radius: 50%;
            display: inline-block;
        }

        //color themes


        @media screen and (-ms-high-contrast: active) {
            -ms-high-contrast-adjust: none;

            &.active:before {
                background-color: yellow;
            }
        }

        @media screen and (-ms-high-contrast: black-on-white) {
            &.active:before {
                background-color: black;
            }
        }

        @media screen and (-ms-high-contrast: white-on-black) {
            &.active:before {
                background-color: white;
            }
        }

        &:before {
            background-color: fade(@indicator-color, 40%);

            @media screen and (-ms-high-contrast: active) {
                background-color: fade(@white, 40%);
            }

            @media screen and (-ms-high-contrast: black-on-white) {
                background-color: fade(@black, 40%);
            }

            @media screen and (-ms-high-contrast: white-on-black) {
                background-color: fade(@white, 40%);
            }
        }

        &:hover:before {
            background-color: fade(@indicator-color, 60%);

            @media screen and (-ms-high-contrast: active) {
                background-color: fade(@white, 80%);
            }

            @media screen and (-ms-high-contrast: black-on-white) {
                background-color: fade(@black, 80%);
            }
        }
    }


    // Prev / Next buttons on either side of indicators
    .indicatorContainer-directionNav {
        line-height: 1;
        height: @indicator-size;
        width: @indicator-size;
        font-family: 'Segoe MDL2 Assets';
        opacity: .6;

        &:hover {
            opacity: .9;
            font-weight: bold;
        }
    }

    // Previous directionNav Arrow
    .directionNav-prev {
        -ms-grid-column: 2;
        -ms-grid-column-align: end;
        -ms-grid-row-align: center;
        display: none;

        &:focus {
            outline: 1px dotted white;
        }

        &:after { content: '\E76B'; }
    }

    // Next directionNav Arrow
    .directionNav-next {
        -ms-grid-column: 4;
        -ms-grid-column-align: end;
        -ms-grid-row-align: center;
        display: none;

        &:focus {
            outline: 1px dotted white;
        }

         &:after { content: '\E76C'; }
    }
}

//-----------------------------------------------------------------------------//
//   Hubstrip                                                                  //
//-----------------------------------------------------------------------------//

// Brand link bar
.template-hubStrip {
    display: flex;
    -ms-grid-column: 1;
    background-color: @dark-grey;
    width: auto;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid @dark-grey;
    border-bottom: 1px solid #CCC;
    //
    //-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    //-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    //box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    
    // Individual brand box
    .template-hubButton {
        display: -ms-grid;
        -ms-grid-rows: 1fr auto 1fr; // Center Content
        -ms-grid-columns: 1fr auto 1fr; // Center Content
        -ms-grid-row: 2;
        flex: 1;
        flex-shrink: 1;
        height: 200px;
        border-bottom: 4px solid transparent;

        &:focus {
            outline: 1px dotted white;
        }


            @media screen and (-ms-high-contrast: active) {
                border-bottom: 2px yellow solid;
            }

            @media screen and (-ms-high-contrast: black-on-white) {
                background-color: black;
                border-bottom: none;
                border-right: 2px white solid;

                &:last-of-type {
                    border-right: none;
                }
            }

           @media screen and (-ms-high-contrast: white-on-black) {
                background-color: black;
                border-bottom: 3px white solid;
                border-right: 3px white solid;
            }

        max-width: @max-brandBar-width;
        height: @brandBar-height - 4px;
        position: relative;
        //border-left: 2px solid @dark-grey;

            &:first-of-type {
                //border: none;
            }

        .hubButton-content {
            -ms-grid-row: 2;
            -ms-grid-column: 2;

            .graphicContainer-graphic {
                max-width: 150px;
                max-height: 60px;
                width: 60%;


                @media screen and @mediaQueryBreakpointMd {
                    width: 80%;
                }
            }
        }

      // Active state for hubButton shading
      &.active {
        position: relative;
        background:rgba(255,255,255,0.1);

        &.template-hubButton:after {

          @media screen and (-ms-high-contrast: active) {
            border-left-color: transparent !important;
            border-right-color: transparent !important;
          }
        }



        //&:after {
        //    content: ' ';
        //    position: absolute;
        //    margin: 0 auto;
        //    left: 0;
        //    right: 0;
        //    top: 100%;
        //    width: 0;
        //    height: 0;
        //    border-left: @caret-width solid transparent;
        //    border-right: @caret-width solid transparent;
        //    border-top: @caret-width solid transparent;
        //    z-index: 3;
        //
        //    @media screen and @mediaQueryBreakpointMd {
        //        //bottom: -(@design-unit * 4.2);
        //    }
        //}

      }

    }
}
//-----------------------------------------------------------------------------//
//  Inputs                                                                     //
//-----------------------------------------------------------------------------//

button {
    color: @white;

    &:hover {
        opacity: .85;
    }

    &:hover:active {
        opacity: .7;
    }

        @media screen and (-ms-high-contrast: active) {
            background: yellow;
            color: black;
        }

        @media screen and (-ms-high-contrast: black-on-white) {
            background: black;
            color: white;
        }

        @media screen and (-ms-high-contrast: white-on-black) {
            background: white;
            color: black;
        }
}


//-----------------------------------------------------------------------------//
//  Type                                                                       //
//-----------------------------------------------------------------------------//

.text-legal {
    .text-captionAlt();
    opacity: .6;
    font-size: 10pt !important;
    line-height: 12pt;
    margin: 0 24px 0 0;
}

.card-content + .text-legal,
.card-content + a + .text-legal,
.card-content + button + .text-legal {
    margin-top: 12px;
}

//-----------------------------------------------------------------------------//
//  LAYOUT KSP                                                                 //
//-----------------------------------------------------------------------------//
.layout-ksp {

    .logo {
        max-width: 180px;
        max-height: 120px;
    }

    .hero-img {
        
        &.video {
            -ms-grid-column-align: center !important;
            width: 100%;
            padding-right: 48px;
            padding-left: 48px;
        }

        video {
            max-width: 100%;
            width: 100%;
            
        }

    }

    .headingBox {
        clear: both;
        margin: (@design-unit * 5) 0;
    }

    &.template-contentCard {
        overflow-y: visible;

        @media screen and @mediaQueryBreakpointMd {
            overflow: hidden;
        }
    }

    // Main content component - List text with or without icons
    .card-content {
        display: -ms-grid;
        -ms-grid-columns: auto 1fr;
        position: relative;

        .icon {
            -ms-grid-column: 1;
            -ms-grid-row-align: center;
            padding-top: @design-unit;
            padding-bottom: @design-unit;

            img {
                max-width: 45px;
            }

            &.icon1 { -ms-grid-row: 1; }
            &.icon2 { -ms-grid-row: 2; }
            &.icon3 { -ms-grid-row: 3; }
            &.icon4 { -ms-grid-row: 4; }
        }

        .list-text {
            -ms-grid-column: 2;
            display: block;
            margin: (@design-unit * 2.5);

            &.text1 { -ms-grid-row: 1; }
            &.text2 { -ms-grid-row: 2; }
            &.text3 { -ms-grid-row: 3; }
            &.text4 { -ms-grid-row: 4; }

            &.text-body,
            .text-body,
            .text-caption {
                display: block;
                margin: (@design-unit) 0;
            }
        }
    }

    .template-videoPlayer {

        .videoPlayer-backgroundGraphic {

            &.custom-backgroundGraphic {
                position: relative;
                height: 0px;
            }
        }

        video {
            position: absolute;
            top: 44px;
            left: 90px;
            width: 510px;
            z-index: 0;
        }
    }
}

//-----------------------------------------------------------------------------//
//  LAYOUT FEATURE                                                             //
//-----------------------------------------------------------------------------//
.layout-feature,
.layout-featureCta {

    .logo {
        max-width: 200px;
        max-height: 120px;
    }

    .hero-img {
        video,
        .img-gif {
            width: 100%;

            @media all and (min-width: 901px) and (max-width: 1100px) {
                width: 85% !important;
            }

            @media all and (min-width: 768px) and (max-width: 900px) {
                width: 70% !important;
            }
        }
    }

       .headingBox {
        clear: both;
        margin: (@design-unit * 4) 0;

        .text-subheader + .text-body {
            margin-top: (@design-unit * 8);
            display: block;
        }
    }

    &.template-contentCard {
        overflow-y: visible;

        @media screen and @mediaQueryBreakpointMd {
            overflow: hidden;
        }
    }

    // Main content component - List text with or without icons
    .card-content {
        display: -ms-grid;
        -ms-grid-columns: auto 1fr;
        position: relative;

        .icon {
            -ms-grid-column: 1;
            -ms-grid-row-align: center;
            padding-top: (@design-unit * 2);
            padding-bottom: (@design-unit);
            margin-top: (@design-unit * 2);

            @media screen and @mediaQueryBreakpointMd {
                padding: 0 (@design-unit * 3) (@design-unit * 4) 0;

            }

            img {
                max-width: 45px;
            }

            &.icon1 { -ms-grid-row: 1; }

        }

        .list-text {
            -ms-grid-column: 2;
            display: block;
            margin: (@design-unit * 2.5) 0;
            padding: 0;

            &.text1 { -ms-grid-row: 1; }

            &.text-body,
            .text-body,
            .text-caption {
                display: block;
                margin: (@design-unit) 0;
            }
        }
    }

    .template-videoPlayer {

        .videoPlayer-backgroundGraphic {

            &.custom-backgroundGraphic {
                position: relative;
                height: 0px;
            }
        }

        video {
            position: absolute;
            top: 59px;
            left: 120px;
            width: 677px;
            z-index: 0;
        }
    }
}

//-----------------------------------------------------------------------------//
//  LAYOUT SPECIFICATIONS (NEW SPECS)                                          //
//-----------------------------------------------------------------------------//
.layout-specifications {

  .layout-feature();

  .main-content {
    width: 100% !important
  }

  .hero-img {
    -ms-grid-column-align: start !important;
    max-width: 100%;

    @media all and (min-width: 775px) {
      img {
        /* max-width: 100% !important;
         height: auto !important; */
      }
    }
  }

  .card-content + .text-legal p,
  .card-content + a + .text-legal p,
  .card-content + button + .text-legal p {
    padding: 0;
  }

  ul {

    li {
      display: -ms-grid;
      -ms-grid-columns: 1fr 2fr;
      background-color: rgba(0,0,0,.1);
      margin-bottom: 20px;
      padding: 0 20px;

      .label {
        -ms-grid-column: 1;
        display: block;
        -ms-grid-column-align: start;
        -ms-grid-row-align: center;
      }

      .spec {
        -ms-grid-column: 2;
        display: block;
        margin: 10px 0;
        -ms-grid-column-align: end;
        -ms-grid-row-align: center;
        text-align: right;
      }

      @media all and (max-width: 1080px), all and (max-height: 700px) {
        & {
          padding: 10px 20px;
          margin: 10px 0;
        }

        .label {
          margin: 0 !important;
        }

        .spec {
          .text-subtitle();
          font-weight: 100;
          margin: 0;
        }
      }
    }
  }


  /*-------------------------------side by side-----------------------------------*/

  /*
   ul {

      li {
          display: -ms-grid;
          -ms-grid-columns: 1fr 1fr;
          background-color: rgba(0,0,0,.1);
          margin-bottom: 20px;
          padding: 0 20px;

          .label {
              -ms-grid-column: 1;
              display: block;
              -ms-grid-column-align: start;
          }

          .spec {
              -ms-grid-column: 2;
              display: block;
              -ms-grid-column-align: end;
              .text-body() !important;
          }
      }
 } */

  /*----------------------------------Top Down-------------------------------------*/
  /*

    ul {

          li {
              display: -ms-grid;
              -ms-grid-rows: 20px 50px 20px;

              .label {
                  -ms-grid-row: 1;
                  display: block;
              }

              .spec {
                  -ms-grid-row: 2;
                  display: block;
              }
          }
     }

      */
}



//-----------------------------------------------------------------------------//
//  LAYOUT SPECS                                                               //
//-----------------------------------------------------------------------------//

.layout-specs {

  .column {

    .text-base {
      color: @black;
    }

    .text-body {
      color: fade(@black, 60%);
    }

    .text-subheader {
      display: block;
      margin: 0;

      @media screen and (max-width: 640px) {
        .text-title();
        margin: 0;
      }

      sup {
        font-size: 20pt;
      }
    }
  }

  .text-legal {
    -ms-grid-row: 10;
    -ms-grid-column: 2;

    @media all and (min-width: 1100px) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      text-align: center;
      margin-bottom: 20px;
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  &.template-contentCard {
    overflow-y: visible;

    @media screen and @mediaQueryBreakpointMd {
      overflow: hidden;
    }
  }

  // Main content component - List text with or without icons
  .card-content {
    display: -ms-grid;
    -ms-grid-columns: auto 1fr;
    position: relative;
  }
}

//-----------------------------------------------------------------------------//
// Page Layout and hubStrip orientation                                        //
//-----------------------------------------------------------------------------//

.hide {
    display: none;
}
