.sidebar {
  color: #fff;
  text-align: center;
  align-items: stretch;
  position: relative;
  color: @dark-grey;
  overflow: hidden;
  background: #fff;
  background-size: cover;

  display: flex;
  flex-direction: column;

  .sidebar-header {
    height: @brandBar-height;
    .textbase-title();
    padding: 0;
    text-align: left;
    vertical-align: middle;
    color: #fff;
    background: #0089cf;
    display: block;
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
    .sidebar-header-text {
      padding: @sidebar-spacing;
      display: block;
    }
  }

  header {

    h1 {
      margin-bottom: 0;
      font-size: @fontSizeSubheader;
      line-height: @lineHeightSubheader;
    }

    p {
      margin-top: 0;
    }
  }

  label.btn-expand {
    border: 0;
    border-top: 1px solid #737373;
    background: blue;

    z-index: 9999;
    color: #fff;

    //background: #1c87bd;
    //padding-top: 10px;
    margin: 0;
    display: block;
    width: 100%;
    font-size: 11px;
    line-height: 33px;
    position: absolute;
    bottom: 0;

    span::after {
      content: '\E018';
      vertical-align: top;
    }

    &:hover {
      background: blue;
      cursor: pointer;
    }
  }

  #menu-toggle {
    display: none; /* hide the checkbox */
  }

  #menu-toggle:checked + .expander {
    z-index: 2;
    vertical-align: top;
    background: red;
    color: #000;
    max-height: 100%;

    .animate-body {
      transform: translateY(0 + 33px);
    }

    button.btn-expand {
      background: transparent;
      color: #505050;
      border-top: 0;

      span::after {
        content: '\E019';
      }

      &:hover {
        color: #000;
      }
    }

    .expanded-list {
      transform: scale(1, 1);
    }
  }

  .spec-list {

    text-align: left;
    overflow: auto;
    flex: 1;
    padding: @sidebar-spacing;

    ul,
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    ul {
      margin: 2em 0;
      padding: 0;
      text-align: left;
    }

    li {
      .setMaxLinesSimple(3, @lineHeightBase, @fontSizeBase);
      margin-bottom: @sidebar-spacing2x;
    }

    .icon:before {
      content: '\E7F8';
      font-family: 'Segoe MDL2 Assets';
      float: left;
      overflow: hidden;
      font-size: @fontSizeIcon;
      line-height: @fontSizeIcon;
      margin-right: @sidebar-spacing2x;
      text-align: center;
    }

    .sidebar-list-text {
      overflow: hidden;
      display: block;
    }

    h2 {
      font-size: @fontSizeBase;
      line-height: @lineHeightBase;
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  .bundles {
    bottom: 0;
    background: #d8d9db;
    height: 160px;
    border-top: 12px solid #0089cf;
    padding: @sidebar-spacing2x;
    overflow: hidden;

    .bundle-img {
      float: left;
      overflow: hidden;
    }

    .bundle-text {
      padding: @sidebar-spacing2x;
      padding-top: 0;
      display: block;

      .bundle-header-text {
        display: block;
        margin: 0 0 @sidebar-spacing;
        .setMaxLinesSimple(1, @lineHeightBase, @fontSizeBase);
      }

      .bundle-body-text {
        display: block;
        .setMaxLinesSimple(4, @lineHeightBase, @fontSizeBase);
      }

      overflow: hidden;
      text-align: left;
    }
  }
}