.sidebar {
  align-items: stretch;
  position: relative;
  overflow: hidden;
  background: #fff;
  background-size: cover;
  border-right: 2px solid #000;
  display: flex;
  flex-direction: column;

  .sidebar-header {
    height: @brandBar-height;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    color: #fff;
    background: @dark-grey;
    display: block;
    border-top: 1px solid @dark-grey;
    border-bottom: 1px solid #CCC;
    //
    //-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    //-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    //box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
  }

  a {
    font-weight: 400;
  }

  .sidebar-header-text {
    padding: @sidebar-spacing;
    display: block;
    text-align: left;

    .sidebar-headline {
      .textbase-title();
      display: block;
      margin-bottom: 1rem;
    }

    .sidebar-subheadline {
      .textbase-subtitle();
      font-weight: 700;
      opacity: .6;
    }
  }

  .spec-list {
    text-align: left;
    overflow: auto;
    flex: 1;
    padding: 0 @sidebar-spacing;

    table {
      width: 100%;
      margin-bottom: 1rem;

      th {
        padding-bottom: @sidebar-spacing;
        .textbase-body();
        font-weight: bold;
      }

      td {
        .textbase-body();
      }

    }

    .sidebar-text-additional {
      display: block;
      margin: 0 0 1rem 0;
      .textbase-body(true);

    }

    .sidebar-text-footnote {
      display: block;
      margin: @sidebar-spacing 0;
      .textbase-caption(true);

    }

    ul,
    li {
      padding: 0;
      list-style: none;
    }

    ul {
      margin: 2rem 0;
      padding: 0;
    }

    li {
      margin-bottom: 1rem;
      display: block;
      clear: both;
      overflow: auto;
    }

    .icon {
      float: left;
      overflow: hidden;
      font-size: @fontSizeIcon;
      line-height: @fontSizeIcon;
      margin-right: @sidebar-spacing;
      text-align: center;
      vertical-align: top;
      width: 24px;
      max-width: 24px;
      height: auto;
    }

    .sidebar-list-text {
      overflow: hidden;
      display: block;
    }

    h2 {
      font-size: @fontSizeBase;
      line-height: @lineHeightBase;
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  .bundles {
    bottom: 0;
    background: #505050;
    max-height: 160px;
    padding: @sidebar-spacing @sidebar-spacing @sidebar-spacing 12px;
    overflow: hidden;

    .bundle-img {
      float: left;
      overflow: hidden;
    }

    .bundle-text {
      padding: @sidebar-spacing;
      color: @white;
      padding-top: 0;
      padding-bottom: 0;
      display: block;

      .bundle-header-text {
        display: block;
        .text-base();
        margin: 0 0;
      }

      .bundle-subheader-text {
        display: block;
        .textbase-caption(true);
        margin: .5rem 0;
        opacity: .6;
      }

      .bundle-price {
        float: right;
      }

      .bundle-body-text {
        display: block;
        .textbase-caption(true);
      }

      overflow: hidden;
      text-align: left;
    }
  }
}