.c-carousel {
  .c-flipper + div {
    height: 100vh;
  }

  .f-medium {
    height: 100vh;
  }

  li .c-hero picture img {
    height: 100vh;
  }

  .f-y-center > div > div {
    top: calc(50% - 120px);
    transform: translateY(calc(-50% - 120px));
  }
}