<li id="hero-slide-two" data-f-theme="dark">
  <article className="c-hero f-medium f-x-left f-y-center theme-dark">
  <div>
  <div className="context-accessory">
  <h1 className="c-heading">Excepteur sint occaecat cupidatat</h1>
<p className="c-subheading">Sunt in culpa qui officia deserunt mollit anim id est laborum</p>

<div>
<div className="c-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="GMD" />$
  <span itemprop="price">69,018</span>
<link itemprop="availability" href="http://schema.org/InStock" />
  </div>
  </div>

  <div className="hero-link-container">
  <a href="#" className="c-call-to-action c-glyph"><span>Lorem ipsum dolor sit amet</span></a>
</div>
</div>

</div>
<picture>
<source srcset="http://www.getmwf.com/images/components/uber-vp5.jpg" media="(min-width:1084px)" />
  <source srcset="http://www.getmwf.com/images/components/uber-vp4.jpg" media="(min-width:768px)" />
  <source srcset="http://www.getmwf.com/images/components/uber-vp3.jpg" media="(min-width:540px)" />
  <source srcset="http://www.getmwf.com/images/components/uber-vp3.jpg" media="(min-width:0)" />
  <img srcset="http://www.getmwf.com/images/components/uber-vp4.jpg"
src="http://www.getmwf.com/images/components/uber-vp4.jpg" alt="Placeholder" />
  </picture>
  </article>
  </li>
  <li id="hero-slide-three" data-f-theme="dark">
  <article className="c-hero f-medium f-x-left f-y-center theme-dark">
  <div>
  <div className="context-accessory">
  <h1 className="c-heading">Sed ut perspiciatis unde omnis</h1>
<p className="c-subheading">Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>

<div>
<div className="c-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="AFN" />kr
  <span itemprop="price">61,628</span>
<link itemprop="availability" href="http://schema.org/InStock" />
  </div>
  </div>

  <div className="hero-link-container">
  <a href="#" className="c-call-to-action c-glyph"><span>Lorem ipsum dolor sit amet</span></a>
</div>
</div>

</div>
<picture>
<source srcset="http://www.getmwf.com/images/components/martian-hero-background-vp5.jpg"
media="(min-width:1084px)" />
  <source srcset="http://www.getmwf.com/images/components/martian-hero-background-vp4.jpg"
media="(min-width:768px)" />
  <source srcset="http://www.getmwf.com/images/components/martian-hero-background-vp3.jpg"
media="(min-width:540px)" />
  <source srcset="http://www.getmwf.com/images/components/martian-hero-background-vp2.jpg"
media="(min-width:0)" />
  <img srcset="http://www.getmwf.com/images/components/martian-hero-background-vp4.jpg"
src="http://www.getmwf.com/images/components/martian-hero-background-vp4.jpg"
alt="Martian poster" />
  </picture>
  </article>
  </li>