---
indexedPage: true
---
<button class="c-button" type="button" data-js-dialog-show="office-cross-sell-1">Office Cross Sell - SKU Selection</button>
<button class="c-button" type="button" data-js-dialog-show="office-cross-sell-single-sku">Office Cross Sell - Single SKU</button>
<button class="c-button" type="button" data-js-dialog-show="xbox-generic-dialog">Generic - Xbox live</button>

<div class="c-dialog f-flow" id="office-cross-sell-1" aria-hidden="true">
    <div role="presentation" tabindex="-1"></div>
    <div role="dialog" aria-label="Flow single" tabindex="-1">
        <div class="c-glyph glyph-cancel" data-js-dialog-hide="" aria-label="Close dialog" tabindex="0"></div>
        <div role="document">
            <div data-grid="col-12 stack-2 pad-6x" class="f-dialog-scroll">
                <div data-grid="col-12">
                    <h1 class="c-heading-5 f-lean">Success! Added to cart</h1>
                    <hr class="c-divider">
                </div>
                <div data-grid="col-4">
                    <img class="c-image f-pad-bottom-3x" src="http://placehold.it/170x170"/>
                </div>
                <div data-grid="col-8">
                    <h2 class="c-heading-4 f-lean">Would you like to get Office with this Surface and save today?</h2>
                    <div class="c-price f-large" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <s aria-label="Full price was $69.99">$69.99</s>
                        <span>&nbsp;Now</span>
                        <meta itemprop="priceCurrency" content="USD">
                        <span>&nbsp;$</span>
                        <span itemprop="price">49.99</span>
                        <link itemprop="availability" href="http://schema.org/InStock">
                    </div>
                    <div class="c-group f-wrap-items" role="group" aria-labelledby="single-select-example-1">
                        <button class="c-select-button" aria-pressed="false" name="office" data-js-selected-text="Office 365 Personal has been selected">Office 365 Personal</button>
                        <button class="c-select-button" aria-pressed="false" name="office" data-js-selected-text="Office 365 home has been selected">Office 365 Home</button>
                        <span id="single-select-example-1" class="x-screen-reader" role="status" aria-live="assertive"></span>
                    </div>
                    <p class="c-paragraph">Personal - For 1PC, get Outlook, Word, Excel, Powerpoint, OneNote, and more with an Office 365 1 year subscription.</p>
                    <div data-grid="col-12" class="c-group f-wrap-items">
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/48x48"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/48x48"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/48x48"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/48x48"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/48x48"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/48x48"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/48x48"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/48x48"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/48x48"/>
                    </div>
                </div>
            </div>
            <div class="c-group">
                <button class="c-button" type="submit" data-js-dialog-hide="" aria-label="Close dialog">Return to cart</button>
            </div>
        </div>
    </div>
</div>

<div class="c-dialog f-flow" id="office-cross-sell-single-sku" aria-hidden="true">
    <div role="presentation" tabindex="-1"></div>
    <div role="dialog" aria-label="Flow single" tabindex="-1">
        <div class="c-glyph glyph-cancel" data-js-dialog-hide="" aria-label="Close dialog" tabindex="0"></div>
        <div role="document">
            <div data-grid="col-12 stack-2 pad-6x" class="f-dialog-scroll">
                <div data-grid="col-12">
                    <h1 class="c-heading-5 f-lean">Success! Added to cart</h1>
                    <hr class="c-divider">
                </div>
                <div data-grid="col-4">
                    <img class="c-image f-pad-bottom-3x" src="http://placehold.it/124x124"/>
                </div>
                <div data-grid="col-8">
                    <h2 class="c-heading-4 f-lean">Do you want to save with a yearly subscription instead?</h2>
                    <div class="c-price f-large" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <span>$</span>
                        <span itemprop="price">99.99</span>
                        <link itemprop="availability" href="http://schema.org/InStock">
                    </div>
                    <p class="c-paragraph">Get 12 months of Office for 5 PC's or Macs plus 5 tablets.</p>
                    <div data-grid="col-12" class="c-group f-wrap-items">
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/52x52"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/52x52"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/52x52"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/52x52"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/52x52"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/52x52"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/52x52"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/52x52"/>
                        <img class="c-image f-pad-top-3x" src="http://placehold.it/52x52"/>
                    </div>
                </div>
            </div>
            <div class="c-group">
                <button class="c-button" type="submit" data-js-dialog-hide="" aria-label="Add to cart">Yes, add to cart</button>
                <button class="c-button" type="button" aria-label="No thanks">No thanks</button>
            </div>
        </div>
    </div>
</div>

<div class="c-dialog f-flow" id="xbox-generic-dialog" aria-hidden="true">
    <div role="presentation" tabindex="-1"></div>
    <div role="dialog" aria-label="Flow single" tabindex="-1">
        <div class="c-glyph glyph-cancel" data-js-dialog-hide="" aria-label="Close dialog" tabindex="0"></div>
        <div role="document">
            <div data-grid="col-12 stack-2 pad-6x" class="f-dialog-scroll">
                <div data-grid="col-12">
                    <h1 class="c-heading-5 f-lean">Success! Added to cart</h1>
                    <hr class="c-divider">
                </div>
                <div data-grid="col-4">
                    <img class="c-image f-pad-bottom-3x" src="http://placehold.it/124x170"/>
                </div>
                <div data-grid="col-8">
                    <h2 class="c-heading-4 f-lean">Would you also like an Xbox Live Gold subscription?</h2>
                    <div class="c-price f-large" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <span>$</span>
                        <span itemprop="price">9.99</span>
                        <link itemprop="availability" href="http://schema.org/InStock">
                    </div>
                    <div class="c-group f-wrap-items" role="group" aria-labelledby="select-example-2">
                        <button class="c-select-button" aria-pressed="false" name="name" data-js-selected-text="1 month Xbox Live Gold has been selected">1 month Xbox Live Gold</button>
                        <button class="c-select-button" aria-pressed="false" name="name" data-js-selected-text="3 months Xbox Live Gold has been selected">3 months Xbox Live Gold</button>
                        <button class="c-select-button" aria-pressed="false" name="name" data-js-selected-text="6 months Xbox Live Gold has been selected">6 month Xbox Live Gold</button>
                        <button class="c-select-button" aria-pressed="false" name="name" data-js-selected-text="12 months Xbox Live Gold has been selected">12 months Xbox Live Gold</button>
                        <span id="select-example-2" class="x-screen-reader" role="status" aria-live="assertive"></span>
                    </div>
                    <p class="c-paragraph">As an Xbox Live Gold memeber, you get the most advaanced multiplayer, bonus games, and exclusive member discounts in Xbox stores. With Xbox Live Gold, you can stay connected with friends, family, and Xbox Live members around the world.</p>
                </div>
            </div>
            <div class="c-group">
                <button class="c-button" type="submit" data-js-dialog-hide="" aria-label="Add to cart">Yes, add to cart</button>
                <button class="c-button" type="button" aria-label="No thanks">No thanks</button>
            </div>
        </div>
    </div>
</div>