

.share-form {
  box-sizing: border-box;

  .win-textbox, .win-textarea {
    border: 0;
    background: #fff;
  }

  .win-textarea {
    min-height: 72px;
  }

  button.btn-share {
    border: 0;
    border-top: 0;
    background: #0078D7;
    padding-top: 10px;
    margin-top: 0;
    order: 2;
    width: 100%;
    min-height: 100%;
    font-size: 11px;

    span::before {
      content: '\E715';
      display: block;
      font-size: 15px;
      margin-bottom: 5px;
    }

    span::after {
      content: '';
      display: none;
    }

    &:hover {
      background: #fff;
      color: #0078D7;
      cursor: pointer;
    }
  }

  .form-expander {
    position: absolute;
    bottom: 0;
    //justify-content: start;
    //padding: 0 10px;
    width: 100%;
    margin-top: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column-reverse;
    max-height: 53px;
    height: 100%;

    &.open {
      background: #0078D7;
      color: #fff;
      text-align: left;
      flex-direction: column;
      padding: 10px 0 0;
      box-sizing: border-box;
      z-index: 9999;
      vertical-align: top;
      max-height: 100%;

      button.btn-share {
        min-height: auto;
      }

      .animate-body {
        transform: translateY(0);
      }

      .expanded-list {
        transform: scale(1, 1);
      }

      button.btn-expand {
        background: transparent;
        color: #505050;
        border-top: 0;

        span::after {
          content: '\E019';
        }

        &:hover {
          color: #000;
        }
      }

    }

    .expanded-list {
      transform: scale(1, 0);
      display: flex;
      flex-direction: column;
      min-height: calc(100% - 33px);
    }

    .animate-body {
      transform: translateY(100px);
      transition: transform .5s cubic-bezier(1, 0, 0, 1);
    }

  }

  .share-form {
    padding: 0 10px;
    order: 1;
    min-height: 0;
    flex: 1;
    > * {
      box-sizing: border-box;
    }
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}