.tabs {
  background: #333333;
  height: 45px;
  z-index: 9999;
  //position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  //
  //+ .sticky-banner {
  //  top: 45px;
  //}

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 100%;

    @media only screen and (min-width: 768px) and (orientation: landscape) {
      flex: 0 1 70%;
    }
  }

  li {
    height: 100%;
    flex: 1;
  }

  li img, li svg {
    max-height: 20px;
    max-width: 100%;
    //filter: brightness(0) invert(1);
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    color: #FFF;

    img, svg, p {
      &.selected {
        display: none;
      }
    }
  }

  a.active img, a.active svg, a.active p {
    display: none;

    &.selected {
      display: block;
    }
  }
}