@import '../../../styles/ms-mwf/mwf/core/styles/config/environment';
@import '../../../styles/ms-mwf/mwf/core/styles/utilities/internationalization';

.c-hero.theme-dark {
  background: #000;
}

.c-hero.f-fullscreen {
  height: calc(100vh - 64px);


  img {
    height: calc(100vh - 64px);
    min-width: inherit;
  }

  .f-y-center {
    .context-game {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

video {
  max-width: 100%;
}

.sub-route + .main-container .c-hero.f-fullscreen {
  height: calc(100vh - 100px);

  img {
    height: calc(100vh - 100px);
    min-width: auto;
  }

  .f-y-center {
    .context-game {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.m-card-item {
  div > .c-call-to-action {
    padding: set-direction-based-value(10px 22px 7px 24px, 10px 24px 7px 22px);
  }
}