---
title: Category - Physical goods
removeContainer: true
indexedPage: true
---

{{> universal-header-template category-physical-goods.universal-header }}

<div data-grid="container">
    {{> hero-module category-physical-goods.alignment-carousel }}

    {{> hyperlink-group-context-content-placement category-physical-goods.content-placement-hyperlink }}

    {{> feature-module category-physical-goods.surface-book }}

    {{> feature-module category-physical-goods.surface-pro-four }}

    {{> feature-module category-physical-goods.surface-pro-three }}

    {{> feature-module category-physical-goods.surface-three }}

    {{> compare-chart-module category-physical-goods.compare-chart-four-up }}

    {{> product-placement-module category-physical-goods.vertical-product-placement-carousel-large }}

    {{> content-placement-module category-physical-goods.four-up}}

    {{> content-rich-block-module category-physical-goods.legal-list }}
</div>

{{> universal-footer-template category-physical-goods.universal-footer }}