* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  -ms-user-select: none;
}
body {
  height: 100%;
  touch-action: none;
}
.control-app {
  height: 100%;
  width: 100%;
  min-width: 4px;
  max-width: 100vw;
  margin: 0 auto;
}
.factsGrid {
  display: -ms-grid;
  -ms-grid-columns: auto 1fr;
  height: 100vh;
}
.factsGrid .sidebar {
  -ms-grid-column: 1;
  width: 25vw;
  height: 100vh;
}
.factsGrid .partnerSections {
  -ms-grid-column: 2;
  height: 100vh;
}
.factsGrid .partnerSections .page-body .control-carousel .carousel-controls .rightNav {
  right: 30vw;
}
.page-body {
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  height: 100vh;
  min-height: 4px;
  overflow-x: hidden;
}
.page-body.content-top {
  -ms-grid-rows: 1fr auto;
}
.page-body.content-top .control-carousel {
  -ms-grid-row: 1;
}
.page-body.content-top .template-hubStrip {
  -ms-grid-row: 2;
}
.page-body.content-top .template-pageIndicator {
  bottom: 65.33333333px;
}
@media screen and (min-width: 768px) {
  .page-body.content-top .template-pageIndicator {
    bottom: 92px;
  }
}
.page-body.content-bottom {
  -ms-grid-rows: auto 1fr 44px;
}
.page-body.content-bottom .control-carousel {
  -ms-grid-row: 2;
}
.page-body.content-bottom .template-hubStrip {
  -ms-grid-row: 1;
}
.page-body.content-bottom .template-pageIndicator {
  -ms-grid-row: 3;
}
.page-body .control-carousel {
  -ms-grid-column: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.page-body .control-carousel .carousel-slideContainer {
  display: flex;
  height: 100%;
}
.page-body .control-carousel .carousel-slideContainer#slider {
  width: 100%;
  margin-left: 0%;
  -webkit-transition: 1.3s;
  -moz-transition: 1.3s;
  transition: 1.3s;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard {
  display: none;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  transition: 1s linear;
  margin: auto;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard .hero-img {
  -ms-grid-row-align: center;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard .hero-img img {
  width: 100%;
  height: auto;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard .main-content {
  -ms-grid-row-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard .main-content {
    width: 400px;
  }
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard .main-content .text-header {
  display: block;
  padding: 0;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-center {
  -ms-grid-columns: 1fr 100% 1fr;
  -ms-grid-rows: 1fr auto;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-center .main-content {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  position: relative;
  width: auto;
  text-align: center;
  margin: 0 auto;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-center .hero {
  margin-bottom: 23px;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left {
  -ms-grid-columns: 48px auto 50% 48px;
  -ms-grid-rows: 1fr auto auto 1fr;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left .main-content {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-column-span: 2;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left .hero-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  -ms-grid-row: 2;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left .hero-img.fit-height {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-row-align: stretch;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left .hero-img.fit-height img {
  width: auto;
  height: 100%;
  float: right;
}
@media screen and (max-height: 540px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left {
    -ms-grid-columns: 48px auto 40% 48px;
  }
}
@media (min-width: 768px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left {
    -ms-grid-columns: 48px 1fr auto 1fr 24px 60%;
    -ms-grid-rows: 1fr auto 1fr;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left .main-content {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left .hero-img {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
  }
}
@media (min-width: 768px) and screen and (max-height: 768px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-left {
    -ms-grid-columns: 48px 1fr auto 1fr 24px 40%;
  }
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-right {
  -ms-grid-columns: 48px 50% auto 48px;
  -ms-grid-rows: 1fr auto auto 1fr;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-right .main-content {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-column-span: 2;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.content-right .hero-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  -ms-grid-row: 2;
}
@media screen and (max-height: 540px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-right {
    -ms-grid-columns: 40% 24px auto 48px;
  }
}
@media (min-width: 768px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-right {
    -ms-grid-columns: 50% 24px 1fr auto 1fr 48px;
    -ms-grid-rows: 1fr auto 1fr;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-right .main-content {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
    -ms-grid-column-span: 1;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-right .hero-img {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 1;
  }
}
@media (min-width: 768px) and screen and (max-height: 768px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.content-right {
    -ms-grid-columns: 40% 24px 1fr auto 1fr 48px;
  }
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn {
  -ms-grid-rows: 24px 1fr;
  -ms-grid-columns: 24px 1fr 1fr 1fr 1fr 24px;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column {
  display: -ms-grid;
  -ms-grid-columns: 1fr auto 1fr;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column.col1 {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column.col2 {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column.col3 {
  -ms-grid-column: 4;
  -ms-grid-row: 2;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column.col4 {
  -ms-grid-column: 5;
  -ms-grid-row: 2;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column .title-box {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column.fourColumn-LogoList {
  -ms-grid-rows: 1fr auto 96px auto 48px auto 1fr;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column.fourColumn-LogoList .graphicContainer-graphic,
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column.fourColumn-LogoList .headingBox {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column.fourColumn-LogoList .subcontent-box1 {
  -ms-grid-column: 2;
  -ms-grid-row: 4;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-fourColumn .column.fourColumn-LogoList .subcontent-box2 {
  -ms-grid-column: 2;
  -ms-grid-row: 6;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn {
  -ms-grid-rows: 24px 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
}
@media all and (min-width: 640px) and (max-width: 1100px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn {
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 24px 1fr 24px;
    max-height: 650px;
  }
}
@media all and (max-width: 640px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn {
    -ms-grid-columns: 24px 1fr 24px;
    -ms-grid-rows: 1fr auto 14px auto 14px auto 1fr;
  }
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn.wide-center {
  -ms-grid-columns: 24px 1fr auto 1fr 24px;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column {
  display: -ms-grid;
  max-width: 100%;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.col1 {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-columns: 100px auto;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.col2 {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-columns: 48px auto 48px;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.col3 {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-columns: auto 100px;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList {
  -ms-grid-rows: 1fr 104px 40px 40px 40px minmax(0, 1fr) 40px 40px 1fr auto;
}
@media all and (min-width: 640px) and (max-width: 1100px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList {
    -ms-grid-rows: 1fr 90px 40px 1fr 1fr 100px 1fr 1fr 1fr;
  }
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .graphicContainer-graphic,
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .headingBox {
  -ms-grid-row: 2;
}
@media all and (max-width: 1100px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .graphicContainer-graphic,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .headingBox {
    -ms-grid-column: 2;
  }
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .label1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  display: block;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .spec1 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .label2 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  display: block;
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .spec2 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
}
@media all and (min-width: 1100px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col1 .graphicContainer-graphic,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col2 .graphicContainer-graphic,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col1 .headingBox,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col2 .headingBox {
    -ms-grid-column: 2;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col1 .label1,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col2 .label1 {
    -ms-grid-column: 2;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col1 .spec1,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col2 .spec1 {
    -ms-grid-column: 2;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col1 .label2,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col2 .label2 {
    -ms-grid-column: 2;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col1 .spec2,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col2 .spec2 {
    -ms-grid-column: 2;
  }
}
@media all and (min-width: 640px) and (max-width: 1100px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList {
    -ms-grid-rows: 1fr 70px 20px auto auto 36px auto auto 36px auto 1fr;
    -ms-grid-columns: 24px 1fr 36px 1fr 24px;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col1 {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col2 {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col3 {
    -ms-grid-column: 2;
    -ms-grid-row: 6;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .graphicContainer-graphic,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .headingBox {
    -ms-grid-row: 2 !important;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .label1 {
    -ms-grid-row: 4 !important;
    -ms-grid-column: 2;
    margin-bottom: 0;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .spec1 {
    -ms-grid-row: 5 !important;
    -ms-grid-column: 2;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .label2 {
    -ms-grid-row: 4 !important;
    -ms-grid-column: 4;
    margin-bottom: 0;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .spec2 {
    -ms-grid-row: 5 !important;
    -ms-grid-column: 4;
  }
}
@media all and (max-width: 640px) {
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList {
    -ms-grid-rows: auto auto auto 48px auto auto;
    -ms-grid-columns: 24px 1fr 24px;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col1 {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col2 {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList.col3 {
    -ms-grid-column: 2;
    -ms-grid-row: 6;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .graphicContainer-graphic,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .headingBox {
    -ms-grid-row: 1 !important;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .graphicContainer-graphic .text-header,
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .headingBox .text-header {
    margin-top: 28px;
    margin-bottom: 0;
    display: block;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .label1 {
    -ms-grid-row: 3 !important;
    -ms-grid-column: 2;
    margin-bottom: 0;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .spec1 {
    -ms-grid-row: 4 !important;
    -ms-grid-column: 2;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .label2 {
    -ms-grid-row: 6 !important;
    -ms-grid-column: 2;
    margin-bottom: 0;
  }
  .page-body .control-carousel .carousel-slideContainer .template-contentCard.page-content-threeColumn .column.threeColumn-logoList .spec2 {
    -ms-grid-row: 7 !important;
    -ms-grid-column: 2;
  }
}
.page-body .control-carousel .carousel-slideContainer .template-contentCard button {
  height: 44px;
  padding: 0 16px;
  margin-top: 10px;
  min-width: 140px;
}
.page-body .control-carousel .carousel-controls {
  width: 100%;
  position: fixed;
  top: 50%;
  -ms-grid-rows: 1fr 36px 1fr;
}
.page-body .control-carousel .carousel-controls .sideNav {
  display: -ms-grid !important;
  -ms-grid-rows: 1fr auto 80px 1fr;
  -ms-grid-columns: 1fr auto 1fr;
  -ms-grid-row: 2;
  height: 36px;
  width: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  margin-bottom: 80px;
  font-family: 'Segoe MDL2 Assets';
}
.page-body .control-carousel .carousel-controls .sideNav:hover {
  background: rgba(0, 0, 0, 0.4);
  display: -ms-grid !important;
}
.page-body .control-carousel .carousel-controls .sideNav .slideNav-directionIndicator {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.page-body .control-carousel .carousel-controls .leftNav {
  position: absolute;
  left: 0;
  top: 50%;
}
.page-body .control-carousel .carousel-controls .leftNav .directionIndicator-prev {
  font-size: 11pt;
  position: absolute;
  top: 8px;
  right: 3px;
}
.page-body .control-carousel .carousel-controls .leftNav .directionIndicator-prev:after {
  content: '\E76B';
}
.page-body .control-carousel .carousel-controls .rightNav {
  position: absolute;
  right: 0;
  top: 50%;
}
.page-body .control-carousel .carousel-controls .rightNav .directionIndicator-next {
  font-size: 11pt;
  position: absolute;
  top: 8px;
  left: 3px;
}
.page-body .control-carousel .carousel-controls .rightNav .directionIndicator-next:after {
  content: '\E76C';
}
.active {
  position: relative;
}
.active.template-hubButton:after {
  border-top-color: #171717;
}
@media screen and (-ms-high-contrast: active) {
  .active.template-hubButton:after {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
  }
}
.active:after {
  content: ' ';
  position: absolute;
  left: 44%;
  bottom: -12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .active:after {
    left: 45%;
    bottom: -16.8px;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 17px solid transparent;
  }
}
.template-pageIndicator {
  width: 100%;
  display: -ms-grid;
  -ms-grid-columns: 1fr 16px auto 8px 1fr;
  z-index: 2000;
}
@media screen and (max-height: -96px) {
  .template-pageIndicator {
    bottom: 20px !important;
  }
}
.template-pageIndicator .pageIndicator-layoutRoot {
  -ms-grid-column: 3;
  display: inline-flex;
}
.template-pageIndicator .pageIndicator-layoutRoot a {
  margin: 0;
}
.template-pageIndicator .indicatorContainer-indicator {
  width: 52px;
  height: 16px;
  text-align: center;
  padding-top: 10px;
  -ms-grid-row-align: end;
}
.template-pageIndicator .indicatorContainer-indicator:before {
  content: ' ';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}
@media screen and (-ms-high-contrast: active) {
  .template-pageIndicator .indicatorContainer-indicator {
    -ms-high-contrast-adjust: none;
  }
  .template-pageIndicator .indicatorContainer-indicator.active:before {
    background-color: yellow;
  }
}
@media screen and (-ms-high-contrast: black-on-white) {
  .template-pageIndicator .indicatorContainer-indicator.active:before {
    background-color: black;
  }
}
@media screen and (-ms-high-contrast: white-on-black) {
  .template-pageIndicator .indicatorContainer-indicator.active:before {
    background-color: white;
  }
}
.template-pageIndicator .indicatorContainer-indicator:before {
  background-color: rgba(23, 23, 23, 0.4);
}
@media screen and (-ms-high-contrast: active) {
  .template-pageIndicator .indicatorContainer-indicator:before {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@media screen and (-ms-high-contrast: black-on-white) {
  .template-pageIndicator .indicatorContainer-indicator:before {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media screen and (-ms-high-contrast: white-on-black) {
  .template-pageIndicator .indicatorContainer-indicator:before {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
.template-pageIndicator .indicatorContainer-indicator:hover:before {
  background-color: rgba(23, 23, 23, 0.6);
}
@media screen and (-ms-high-contrast: active) {
  .template-pageIndicator .indicatorContainer-indicator:hover:before {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@media screen and (-ms-high-contrast: black-on-white) {
  .template-pageIndicator .indicatorContainer-indicator:hover:before {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.template-pageIndicator .indicatorContainer-directionNav {
  line-height: 1;
  height: 8px;
  width: 8px;
  font-family: 'Segoe MDL2 Assets';
  opacity: .6;
}
.template-pageIndicator .indicatorContainer-directionNav:hover {
  opacity: .9;
  font-weight: bold;
}
.template-pageIndicator .directionNav-prev {
  -ms-grid-column: 2;
  -ms-grid-column-align: end;
  -ms-grid-row-align: center;
  display: none;
}
.template-pageIndicator .directionNav-prev:focus {
  outline: 1px dotted white;
}
.template-pageIndicator .directionNav-prev:after {
  content: '\E76B';
}
.template-pageIndicator .directionNav-next {
  -ms-grid-column: 4;
  -ms-grid-column-align: end;
  -ms-grid-row-align: center;
  display: none;
}
.template-pageIndicator .directionNav-next:focus {
  outline: 1px dotted white;
}
.template-pageIndicator .directionNav-next:after {
  content: '\E76C';
}
.template-hubStrip {
  display: flex;
  -ms-grid-column: 1;
  background-color: #171717;
  width: auto;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #171717;
  border-bottom: 2px solid #171717;
}
.template-hubStrip .template-hubButton {
  display: -ms-grid;
  -ms-grid-rows: 1fr auto 1fr;
  -ms-grid-columns: 1fr auto 1fr;
  -ms-grid-row: 2;
  flex: 1;
  flex-shrink: 1;
  height: 200px;
  max-width: 240px;
  height: 80px;
  position: relative;
  border-left: 2px solid #171717;
}
.template-hubStrip .template-hubButton:focus {
  outline: 1px dotted white;
}
@media screen and (-ms-high-contrast: active) {
  .template-hubStrip .template-hubButton {
    border-bottom: 2px yellow solid;
  }
}
@media screen and (-ms-high-contrast: black-on-white) {
  .template-hubStrip .template-hubButton {
    background-color: black;
    border-bottom: none;
    border-right: 2px white solid;
  }
  .template-hubStrip .template-hubButton:last-of-type {
    border-right: none;
  }
}
@media screen and (-ms-high-contrast: white-on-black) {
  .template-hubStrip .template-hubButton {
    background-color: black;
    border-bottom: 3px white solid;
    border-right: 3px white solid;
  }
}
.template-hubStrip .template-hubButton:first-of-type {
  border: none;
}
.template-hubStrip .template-hubButton .hubButton-content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.template-hubStrip .template-hubButton .hubButton-content .graphicContainer-graphic {
  max-width: 150px;
  max-height: 60px;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .template-hubStrip .template-hubButton .hubButton-content .graphicContainer-graphic {
    width: 80%;
  }
}
button {
  color: #ffffff;
}
button:hover {
  opacity: .85;
}
button:hover:active {
  opacity: .7;
}
@media screen and (-ms-high-contrast: active) {
  button {
    background: yellow;
    color: black;
  }
}
@media screen and (-ms-high-contrast: black-on-white) {
  button {
    background: black;
    color: white;
  }
}
@media screen and (-ms-high-contrast: white-on-black) {
  button {
    background: white;
    color: black;
  }
}
.text-legal {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-size: 10px;
  line-height: 12px;
  font-size: 0.625rem;
  line-height: 0.75rem;
  padding-bottom: 0.818px;
  padding-top: 0.818px;
  padding-bottom: 0.051125rem;
  padding-top: 0.051125rem;
  font-weight: 400;
  opacity: .6;
  font-size: 10pt !important;
  line-height: 12pt;
  margin: 0 24px;
}
.text-legal.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 12px;
  max-height: 0.75rem;
}
.text-legal.textType_maxLinesTwo {
  max-height: 24px;
  max-height: 1.5rem;
}
.text-legal.textType_maxLinesThree {
  max-height: 36px;
  max-height: 2.25rem;
}
.text-legal.textType_maxLinesFour {
  max-height: 48px;
  max-height: 3rem;
}
.card-content + .text-legal,
.card-content + a + .text-legal,
.card-content + button + .text-legal {
  margin-top: 12px;
}
.layout-ksp .logo {
  max-width: 200px;
  max-height: 120px;
}
.layout-ksp .hero-img video {
  max-width: 100%;
}
.layout-ksp .headingBox {
  clear: both;
  margin: 20px 0;
}
.layout-ksp.template-contentCard {
  overflow-y: visible;
}
@media screen and (min-width: 768px) {
  .layout-ksp.template-contentCard {
    overflow: hidden;
  }
}
.layout-ksp .card-content {
  display: -ms-grid;
  -ms-grid-columns: auto 1fr;
  position: relative;
}
.layout-ksp .card-content .icon {
  -ms-grid-column: 1;
  -ms-grid-row-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.layout-ksp .card-content .icon img {
  max-width: 45px;
}
.layout-ksp .card-content .icon.icon1 {
  -ms-grid-row: 1;
}
.layout-ksp .card-content .icon.icon2 {
  -ms-grid-row: 2;
}
.layout-ksp .card-content .icon.icon3 {
  -ms-grid-row: 3;
}
.layout-ksp .card-content .icon.icon4 {
  -ms-grid-row: 4;
}
.layout-ksp .card-content .list-text {
  -ms-grid-column: 2;
  display: block;
  margin: 10px;
}
.layout-ksp .card-content .list-text.text1 {
  -ms-grid-row: 1;
}
.layout-ksp .card-content .list-text.text2 {
  -ms-grid-row: 2;
}
.layout-ksp .card-content .list-text.text3 {
  -ms-grid-row: 3;
}
.layout-ksp .card-content .list-text.text4 {
  -ms-grid-row: 4;
}
.layout-ksp .card-content .list-text.text-body,
.layout-ksp .card-content .list-text .text-body,
.layout-ksp .card-content .list-text .text-caption {
  display: block;
  margin: 4px 0;
}
.layout-ksp .template-videoPlayer .videoPlayer-backgroundGraphic.custom-backgroundGraphic {
  position: relative;
  height: 0px;
}
.layout-ksp .template-videoPlayer video {
  position: absolute;
  top: 44px;
  left: 90px;
  width: 510px;
  z-index: 0;
}
.layout-feature .logo,
.layout-featureCta .logo {
  max-width: 200px;
  max-height: 120px;
}
.layout-feature .hero-img video,
.layout-featureCta .hero-img video,
.layout-feature .hero-img .img-gif,
.layout-featureCta .hero-img .img-gif {
  width: 100%;
}
@media all and (min-width: 901px) and (max-width: 1100px) {
  .layout-feature .hero-img video,
  .layout-featureCta .hero-img video,
  .layout-feature .hero-img .img-gif,
  .layout-featureCta .hero-img .img-gif {
    width: 85% !important;
  }
}
@media all and (min-width: 768px) and (max-width: 900px) {
  .layout-feature .hero-img video,
  .layout-featureCta .hero-img video,
  .layout-feature .hero-img .img-gif,
  .layout-featureCta .hero-img .img-gif {
    width: 70% !important;
  }
}
.layout-feature .headingBox,
.layout-featureCta .headingBox {
  clear: both;
  margin: 16px 0;
}
.layout-feature .headingBox .text-subheader + .text-body,
.layout-featureCta .headingBox .text-subheader + .text-body {
  margin-top: 32px;
  display: block;
}
.layout-feature.template-contentCard,
.layout-featureCta.template-contentCard {
  overflow-y: visible;
}
@media screen and (min-width: 768px) {
  .layout-feature.template-contentCard,
  .layout-featureCta.template-contentCard {
    overflow: hidden;
  }
}
.layout-feature .card-content,
.layout-featureCta .card-content {
  display: -ms-grid;
  -ms-grid-columns: auto 1fr;
  position: relative;
}
.layout-feature .card-content .icon,
.layout-featureCta .card-content .icon {
  -ms-grid-column: 1;
  -ms-grid-row-align: center;
  padding-top: 8px;
  padding-bottom: 4px;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .layout-feature .card-content .icon,
  .layout-featureCta .card-content .icon {
    padding: 0 12px 16px 0;
  }
}
.layout-feature .card-content .icon img,
.layout-featureCta .card-content .icon img {
  max-width: 45px;
}
.layout-feature .card-content .icon.icon1,
.layout-featureCta .card-content .icon.icon1 {
  -ms-grid-row: 1;
}
.layout-feature .card-content .list-text,
.layout-featureCta .card-content .list-text {
  -ms-grid-column: 2;
  display: block;
  margin: 10px 0;
  padding: 0;
}
.layout-feature .card-content .list-text.text1,
.layout-featureCta .card-content .list-text.text1 {
  -ms-grid-row: 1;
}
.layout-feature .card-content .list-text.text-body,
.layout-featureCta .card-content .list-text.text-body,
.layout-feature .card-content .list-text .text-body,
.layout-featureCta .card-content .list-text .text-body,
.layout-feature .card-content .list-text .text-caption,
.layout-featureCta .card-content .list-text .text-caption {
  display: block;
  margin: 4px 0;
}
.layout-feature .template-videoPlayer .videoPlayer-backgroundGraphic.custom-backgroundGraphic,
.layout-featureCta .template-videoPlayer .videoPlayer-backgroundGraphic.custom-backgroundGraphic {
  position: relative;
  height: 0px;
}
.layout-feature .template-videoPlayer video,
.layout-featureCta .template-videoPlayer video {
  position: absolute;
  top: 59px;
  left: 120px;
  width: 677px;
  z-index: 0;
}
.layout-specs .column .text-base {
  color: #000000;
}
.layout-specs .column .text-body {
  color: rgba(0, 0, 0, 0.6);
}
.layout-specs .column .text-subheader {
  display: block;
  margin: 0;
}
@media screen and (max-width: 640px) {
  .layout-specs .column .text-subheader {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    font-size: 24px;
    line-height: 28px;
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-bottom: 2.3632px;
    padding-top: 2.3632px;
    padding-bottom: 0.1477rem;
    padding-top: 0.1477rem;
    font-weight: 300;
    margin: 0;
  }
  .layout-specs .column .text-subheader.textType_maxLinesOne {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 28px;
    max-height: 1.75rem;
  }
  .layout-specs .column .text-subheader.textType_maxLinesTwo {
    max-height: 56px;
    max-height: 3.5rem;
  }
  .layout-specs .column .text-subheader.textType_maxLinesThree {
    max-height: 84px;
    max-height: 5.25rem;
  }
  .layout-specs .column .text-subheader.textType_maxLinesFour {
    max-height: 112px;
    max-height: 7rem;
  }
}
.layout-specs .column .text-subheader sup {
  font-size: 20pt;
}
.layout-specs .text-legal {
  -ms-grid-row: 10;
  -ms-grid-column: 2;
}
@media all and (min-width: 1100px) {
  .layout-specs .text-legal {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }
}
.layout-specs.template-contentCard {
  overflow-y: visible;
}
@media screen and (min-width: 768px) {
  .layout-specs.template-contentCard {
    overflow: hidden;
  }
}
.layout-specs .card-content {
  display: -ms-grid;
  -ms-grid-columns: auto 1fr;
  position: relative;
}
.sidebar {
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url('generic_assets/sidbarbg.png') 0 0 no-repeat;
  background-size: cover;
}
.sidebar header h1 {
  margin-bottom: 0;
  font-size: 34px;
  line-height: 40px;
}
.sidebar header p {
  margin-top: 0;
}
.sidebar label.btn-expand {
  border: 0;
  border-top: 1px solid #737373;
  background: blue;
  z-index: 9999;
  color: #fff;
  margin: 0;
  display: block;
  width: 100%;
  font-size: 11px;
  line-height: 33px;
  position: absolute;
  bottom: 0;
}
.sidebar label.btn-expand span::after {
  content: '\E018';
  vertical-align: top;
}
.sidebar label.btn-expand:hover {
  background: blue;
  cursor: pointer;
}
.sidebar #menu-toggle {
  display: none;
  /* hide the checkbox */
}
.sidebar #menu-toggle:checked + .expander {
  z-index: 2;
  vertical-align: top;
  background: red;
  color: #000;
  max-height: 100%;
}
.sidebar #menu-toggle:checked + .expander .animate-body {
  transform: translateY(33px);
}
.sidebar #menu-toggle:checked + .expander button.btn-expand {
  background: transparent;
  color: #505050;
  border-top: 0;
}
.sidebar #menu-toggle:checked + .expander button.btn-expand span::after {
  content: '\E019';
}
.sidebar #menu-toggle:checked + .expander button.btn-expand:hover {
  color: #000;
}
.sidebar #menu-toggle:checked + .expander .expanded-list {
  transform: scale(1, 1);
}
.sidebar .expander {
  position: absolute;
  bottom: 33px;
  width: 100%;
  margin-top: 0;
  transition: all 0.2s ease-in-out;
  max-height: 33px;
  height: 100%;
}
.sidebar .expander .expanded-list {
  transform: scale(1, 0);
  display: flex;
  flex-direction: column;
  min-height: calc(67%);
}
.sidebar .expander .animate-body {
  transform: translateY(100px);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
}
.sidebar .spec-list ul {
  list-style-type: none;
  margin-left: 1.8em;
  padding-left: 1.8em;
  text-indent: -1.8em;
}
.sidebar .spec-list ul li {
  text-align: left;
}
.sidebar .spec-list ul li.icon::before {
  font-family: 'Segoe MDL2 Assets';
  float: left;
  display: block;
  padding-right: 1.8em;
}
.sidebar .spec-list ul li.icon.icon-software::before {
  content: '\E7F8';
}
.sidebar .spec-list ul li.icon.icon-display::before {
  content: '\E7FA';
}
.sidebar .spec-list ul li.icon.icon-hardware::before {
  content: '\E212';
}
.sidebar .spec-list h2 {
  font-size: 15px;
  line-height: 20px;
  padding-top: 0;
  margin-bottom: 0;
}
@font-face {
  font-family: 'Segoe UI Webfont';
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot");
  src: local("Segoe UI Light"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.svg#web") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Webfont';
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot");
  src: local("Segoe UI"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Webfont';
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semibold/latest.eot");
  src: local("Segoe UI Semibold"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semibold/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semibold/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semibold/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semibold/latest.svg#web") format("svg");
  font-weight: 600;
  font-style: normal;
}
html {
  font-size: 100%;
}
body {
  font-family: "Segoe UI Webfont", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
  font-size: 15px;
  line-height: 20px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  padding-bottom: 0.227px;
  padding-top: 0.227px;
  padding-bottom: 0.0141875rem;
  padding-top: 0.0141875rem;
  font-weight: 400;
}
a {
  text-decoration: none;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-size: 15px;
  line-height: 20px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  padding-bottom: 0.227px;
  padding-top: 0.227px;
  padding-bottom: 0.0141875rem;
  padding-top: 0.0141875rem;
  font-weight: 600;
}
a.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 20px;
  max-height: 1.25rem;
}
a.textType_maxLinesTwo {
  max-height: 40px;
  max-height: 2.5rem;
}
a.textType_maxLinesThree {
  max-height: 60px;
  max-height: 3.75rem;
}
a.textType_maxLinesFour {
  max-height: 80px;
  max-height: 5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.text-headline,
.text-header,
.text-subheader,
.text-title,
.text-subtitle,
.text-body,
.text-base,
.text-caption,
.text-captionAlt,
.text-subcaption,
p {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
.text-headline {
  font-size: 62px;
  line-height: 80px;
  font-size: 3.875rem;
  line-height: 5rem;
  padding-bottom: 2.2716px;
  padding-top: 2.2716px;
  padding-bottom: 0.141975rem;
  padding-top: 0.141975rem;
  font-weight: 200;
}
.text-headline.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 80px;
  max-height: 5rem;
}
.text-headline.textType_maxLinesTwo {
  max-height: 160px;
  max-height: 10rem;
}
.text-headline.textType_maxLinesThree {
  max-height: 240px;
  max-height: 15rem;
}
.text-headline.textType_maxLinesFour {
  max-height: 320px;
  max-height: 20rem;
}
.text-header,
h1 {
  font-size: 46px;
  line-height: 56px;
  font-size: 2.875rem;
  line-height: 3.5rem;
  padding-bottom: 3.3628px;
  padding-top: 3.3628px;
  padding-bottom: 0.210175rem;
  padding-top: 0.210175rem;
  font-weight: 200;
}
.text-header.textType_maxLinesOne,
h1.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 56px;
  max-height: 3.5rem;
}
.text-header.textType_maxLinesTwo,
h1.textType_maxLinesTwo {
  max-height: 112px;
  max-height: 7rem;
}
.text-header.textType_maxLinesThree,
h1.textType_maxLinesThree {
  max-height: 168px;
  max-height: 10.5rem;
}
.text-header.textType_maxLinesFour,
h1.textType_maxLinesFour {
  max-height: 224px;
  max-height: 14rem;
}
.text-subheader,
h2 {
  font-size: 34px;
  line-height: 40px;
  font-size: 2.125rem;
  line-height: 2.5rem;
  padding-bottom: 3.1812px;
  padding-top: 3.1812px;
  padding-bottom: 0.198825rem;
  padding-top: 0.198825rem;
  font-weight: 200;
}
.text-subheader.textType_maxLinesOne,
h2.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 40px;
  max-height: 2.5rem;
}
.text-subheader.textType_maxLinesTwo,
h2.textType_maxLinesTwo {
  max-height: 80px;
  max-height: 5rem;
}
.text-subheader.textType_maxLinesThree,
h2.textType_maxLinesThree {
  max-height: 120px;
  max-height: 7.5rem;
}
.text-subheader.textType_maxLinesFour,
h2.textType_maxLinesFour {
  max-height: 160px;
  max-height: 10rem;
}
.text-title,
h3 {
  font-size: 24px;
  line-height: 28px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  padding-bottom: 2.3632px;
  padding-top: 2.3632px;
  padding-bottom: 0.1477rem;
  padding-top: 0.1477rem;
  font-weight: 300;
}
.text-title.textType_maxLinesOne,
h3.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 28px;
  max-height: 1.75rem;
}
.text-title.textType_maxLinesTwo,
h3.textType_maxLinesTwo {
  max-height: 56px;
  max-height: 3.5rem;
}
.text-title.textType_maxLinesThree,
h3.textType_maxLinesThree {
  max-height: 84px;
  max-height: 5.25rem;
}
.text-title.textType_maxLinesFour,
h3.textType_maxLinesFour {
  max-height: 112px;
  max-height: 7rem;
}
.text-subtitle,
h4 {
  font-size: 20px;
  line-height: 24px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-bottom: 1.636px;
  padding-top: 1.636px;
  padding-bottom: 0.10225rem;
  padding-top: 0.10225rem;
  font-weight: 400;
}
.text-subtitle.textType_maxLinesOne,
h4.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 24px;
  max-height: 1.5rem;
}
.text-subtitle.textType_maxLinesTwo,
h4.textType_maxLinesTwo {
  max-height: 48px;
  max-height: 3rem;
}
.text-subtitle.textType_maxLinesThree,
h4.textType_maxLinesThree {
  max-height: 72px;
  max-height: 4.5rem;
}
.text-subtitle.textType_maxLinesFour,
h4.textType_maxLinesFour {
  max-height: 96px;
  max-height: 6rem;
}
.text-caption,
h5 {
  font-size: 12px;
  line-height: 14px;
  font-size: 0.75rem;
  line-height: 0.875rem;
  padding-bottom: 1.1816px;
  padding-top: 1.1816px;
  padding-bottom: 0.07385rem;
  padding-top: 0.07385rem;
  font-weight: 400;
}
.text-caption.textType_maxLinesOne,
h5.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 14px;
  max-height: 0.875rem;
}
.text-caption.textType_maxLinesTwo,
h5.textType_maxLinesTwo {
  max-height: 28px;
  max-height: 1.75rem;
}
.text-caption.textType_maxLinesThree,
h5.textType_maxLinesThree {
  max-height: 42px;
  max-height: 2.625rem;
}
.text-caption.textType_maxLinesFour,
h5.textType_maxLinesFour {
  max-height: 56px;
  max-height: 3.5rem;
}
.text-captionAlt,
h6 {
  font-size: 10px;
  line-height: 12px;
  font-size: 0.625rem;
  line-height: 0.75rem;
  padding-bottom: 0.818px;
  padding-top: 0.818px;
  padding-bottom: 0.051125rem;
  padding-top: 0.051125rem;
  font-weight: 400;
}
.text-captionAlt.textType_maxLinesOne,
h6.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 12px;
  max-height: 0.75rem;
}
.text-captionAlt.textType_maxLinesTwo,
h6.textType_maxLinesTwo {
  max-height: 24px;
  max-height: 1.5rem;
}
.text-captionAlt.textType_maxLinesThree,
h6.textType_maxLinesThree {
  max-height: 36px;
  max-height: 2.25rem;
}
.text-captionAlt.textType_maxLinesFour,
h6.textType_maxLinesFour {
  max-height: 48px;
  max-height: 3rem;
}
.text-subcaption {
  font-size: 8px;
  line-height: 10px;
  font-size: 0.5rem;
  line-height: 0.625rem;
  padding-bottom: 0.4544px;
  padding-top: 0.4544px;
  padding-bottom: 0.0284rem;
  padding-top: 0.0284rem;
  font-weight: 400;
}
.text-subcaption.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 10px;
  max-height: 0.625rem;
}
.text-subcaption.textType_maxLinesTwo {
  max-height: 20px;
  max-height: 1.25rem;
}
.text-subcaption.textType_maxLinesThree {
  max-height: 30px;
  max-height: 1.875rem;
}
.text-subcaption.textType_maxLinesFour {
  max-height: 40px;
  max-height: 2.5rem;
}
.text-body,
p {
  font-size: 15px;
  line-height: 20px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  padding-bottom: 0.227px;
  padding-top: 0.227px;
  padding-bottom: 0.0141875rem;
  padding-top: 0.0141875rem;
  font-weight: 400;
}
.text-body.textType_maxLinesOne,
p.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 20px;
  max-height: 1.25rem;
}
.text-body.textType_maxLinesTwo,
p.textType_maxLinesTwo {
  max-height: 40px;
  max-height: 2.5rem;
}
.text-body.textType_maxLinesThree,
p.textType_maxLinesThree {
  max-height: 60px;
  max-height: 3.75rem;
}
.text-body.textType_maxLinesFour,
p.textType_maxLinesFour {
  max-height: 80px;
  max-height: 5rem;
}
.text-base {
  font-size: 15px;
  line-height: 20px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  padding-bottom: 0.227px;
  padding-top: 0.227px;
  padding-bottom: 0.0141875rem;
  padding-top: 0.0141875rem;
  font-weight: 600;
}
.text-base.textType_maxLinesOne {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 20px;
  max-height: 1.25rem;
}
.text-base.textType_maxLinesTwo {
  max-height: 40px;
  max-height: 2.5rem;
}
.text-base.textType_maxLinesThree {
  max-height: 60px;
  max-height: 3.75rem;
}
.text-base.textType_maxLinesFour {
  max-height: 80px;
  max-height: 5rem;
}
[class*="textType_maxLines"] {
  overflow: hidden;
}
span strong {
  font-weight: bold;
}

/*# sourceMappingURL=maps/styles.css.map */
