.x-type-center {
    text-align: center !important;
}

.x-type-right {
    text-align: $right !important;
}

.x-type-left {
    text-align: $left !important;
}

[dir="rtl"] {
    .x-type-right {
        text-align: $left !important;
    }

    .x-type-left {
        text-align: $right !important;
    }
}