.m-live-gold-badge {
    padding-top: 0;
    padding-#{$left}: 0;
    padding-#{$right}: 0;
    margin-top: 24px;
    margin-#{$right}: 0;
    margin-#{$left}: 16px;
    display: inline-block;
    position: relative;
    float: none;

    > div {
        width: 100%;
        position: absolute;
        top: 0;
        color: $color-brand-neutral-00;
        text-align: center;
    }

    .c-heading-1 {
        padding-top: 60px;
        padding-bottom: 0;

        @media only screen and (min-width: $vp3) {
            padding-top: 48px;
        }

        + .c-paragraph-1 {
            padding: 0;
        }
    }

    @media only screen and (min-width: $vp4) {
        margin-top: 40px;
        float: $right;
    }
}