// /* ==========================================================================
// Define Base Unit
// ============================================================================ */
$base: 4px;

// /* ==========================================================================
// Generate Global Variables
// ============================================================================ */

$base-0: 0;
$base-2x: apply-base(2);
$base-3x: apply-base(3);
$base-4x: apply-base(4);
$base-5x: apply-base(5);
$base-6x: apply-base(6);
$base-9x: apply-base(9);
$base-12x: apply-base(12);