.spec-list {
  //display: flex;
  flex: 1;

  ul {
    list-style-type: none;
    margin-left: 1.8em;
    padding-left: 1.8em;
    text-indent: -1.8em;

    li {
      text-align: left;
    }

    li.icon::before {
      font-family: 'Segoe MDL2 Assets';
      float: left;
      display: block;
      padding-right: 1.8em;
    }

    li.icon.icon-software::before {
      content: '\E7F8';
    }

    li.icon.icon-display::before {
      content: '\E7FA';
    }

    li.icon.icon-hardware::before {
      content: '\E212';
    }
  }

  h2 {
    font-size: 15px;
    margin-bottom: 0;
  }
}