---
layout: ./core/templates/layouts/fixtures.hbs
---

<style>
    #span1{background: green;}
</style>
<div class="test test2 test3 test45" style="color: red;"></div>
<div class="events" id="eventsdiv">
    <span id="span1" class="targets">Hello</span>
    <span id="span2" class="targets">World</span>
    <span id="span3">Foo</span>
    <span id="span4">Bar</span>
</div>
<div class="elements" id="elementsdiv">
    <h2 class="test">Heading</h2>
    <p>Paragraph</p>
    <span>Span</span>
</div>
