---
layout: ./core/templates/layouts/fixtures.hbs
---

<div id="container" style="width:100px;height:100px">
    <div id="topleft" class="shouldnotcollide" style="position:absolute;top:1px;left:1px;width:25px;height:25px"></div>
    <div id="topright" class="shouldnotcollide" style="position:absolute;top:1px;right:1px;width:25px;height:25px"></div>
    <div id="bottomleft" class="shouldnotcollide" style="position:absolute;bottom:30px;left:1px;width:25px;height:25px"></div>
    <div id="bottomright" class="shouldnotcollide" style="position:absolute;bottom:30px;right:1px;width:25px;height:25px"></div>
    <div id="zerowidth" class="shouldnotcollide" style="position:absolute;left:1px;top:1px;width:0;height:25px"></div>
    <div id="zeroheight" class="shouldnotcollide" style="position:absolute;left:1px;top:1px;width:25px;height:0"></div>
    <div id="hidden" class="shouldnotcollide" style="display:none;position:absolute"></div>

    <div id="top" class="shouldcollide" style="position:absolute;top:-1px;left:1px;width:25px;height:25px"></div>
    <div id="right" class="shouldcollide" style="position:absolute;right:-1px;top:1px;width:25px;height:25px"></div>
    <div id="bottom" class="shouldcollide" style="position:absolute;bottom:-1px;left:1px;width:25px;height:25px"></div>
    <div id="left" class="shouldcollide" style="position:absolute;left:-1px;top:1px;width:25px;height:25px"></div>
    <div id="topedge" class="shouldcollide" style="position:absolute;top:0;left:1px;width:25px;height:25px"></div>
    <div id="rightedge" class="shouldcollide" style="position:absolute;right:0;top:1px;width:25px;height:25px"></div>
    <div id="bottomedge" class="shouldcollide" style="position:absolute;bottom:0;left:1px;width:25px;height:25px"></div>
    <div id="leftedge" class="shouldcollide" style="position:absolute;left:0;top:1px;width:25px;height:25px"></div>
    <div id="bottomandright" class="shouldcollide" style="position:absolute;bottom:-1px;right:-1px;width:25px;height:25px"></div>
</div>